[2016-08-12 17:30] erichoracek opened #2 "Generating a list of non-uploaded dependencies to build to pass to Carthage"
Rome looks like an awesome tool! Quick question about its usage:

In the example workflow, it would appear that there is an assumption that the entire contents of the current `Cartfile.resolved` will either be fully available for download or not. However, in the case where you have internal frameworks that are constantly being updated, it could likely be the case that all frameworks _but the one y

[2016-08-14 08:18] blender commented on #2
Hi, this is an interesting addition and totally possible. I will look into it.

[2016-08-14 19:46] blender commented on #2
Opened branch https://github.com/blender/Rome/tree/feature/list

Proposed command and modifiers:
[code]

[2016-08-14 19:50] erichoracek commented on #2
Awesome, thanks! A little more context on our setup:

We'd like our CI machine to be the sole producer of all precompiled binaries. This prevents developers from uploading a bad binary that could potentially be used in a production build (e.g. from a beta Xcode version, an in-progress artifact from development on an internal dependency etc.). As such, whenever a developer does an update locally, t

[2016-08-14 19:58] erichoracek commented on #2
Ah—didn't see that you replied why I was typing out this response—it should be totally possible to implement the `rome is-cache-complete` command in terms of `rome list --missing`. It should just be a matter of parsing whether or not there is not any output.

Thanks again for taking a shot at this!

[2016-08-14 21:41] blender commented on #2
You will probably need to write a small script to do so. If `xargs` on mac supported `--no-run-if-empty` flag it would have worked out of the box.

[2016-08-15 15:32] blender commented on #2
@erichoracek please check if this pre-release meets your needs https://github.com/blender/Rome/releases/tag/v0.3.0.1

[2016-08-15 20:10] erichoracek opened #4 "Unable to specify AWS s3 region"
When attempting to try out the executable for fixing #2, I ran into the issue where attempting to upload binaries to AWS is failing. This is due to our carthage cache bucket being hosted in the `us-west-2` region.

The `upload` command fails with the following error:

[code]

I have the region specified in my `.aws/config` file, but this doesn't seem to be having any effect either.

It would appea

[2016-08-15 20:34] blender commented on #4
Hi, thanks for reporting. I'll find a way to a either avoid specifying a region all together or the opposite

[2016-08-15 21:54] blender commented on #4
@erichoracek can you access your file manually using as base S3 url ``s3.amazonaws.com``or do you only success if you use ``s3-us-west-2.amazonaws.com`` ?

[2016-08-15 23:26] erichoracek commented on #4
The region is required, e.g. when using the `aws` CLI

[code]

[2016-08-15 23:37] erichoracek commented on #4
To answer your question: I don't think it's required when you're accessing an S3 URL—it only seems to be required when interacting with the APIs.

[2016-08-16 08:54] blender commented on #4
I spoke with the maintainer for the AWS library I'm using and I was told that a region is request for v4 request signing. I will implement region discovery from ``.aws/config``

[2016-08-16 09:01] blender opened #5 "Adopt proper INI format for Romefile"
- Adopt [Ini file format](https://en.wikipedia.org/wiki/INI_file) and use [Data.Ini](https://hackage.haskell.org/package/ini-0.3.5/docs/Data-Ini.html) for parsing

[2016-08-16 11:30] blender commented on #4
@erichoracek Please try fix in pre-release https://github.com/blender/Rome/releases/tag/v0.3.0.2

[2016-08-16 11:31] blender commented on #2
Updated pre-release: https://github.com/blender/Rome/releases/tag/v0.3.0.2

[2016-08-17 04:18] erichoracek commented on #4
This is fixed in 3.0.2—thanks!

[2016-08-17 04:40] erichoracek commented on #2
This seems to be working as intended in this release as well. Thanks!

[2016-08-17 07:51] erichoracek opened #7 "Romefile RepositoryMap does not work with github references"
It would appear that the Romefile repository map doesn't work with github references—only with git references. It seems to have to do with the `deriveFrameworkName` function at https://github.com/blender/Rome/blob/master/src/Lib.hs#L192, which doesn't appear to be using the `romeMap` to do a repo to framework lookup. This results in the `Romefile` mappings being unused when they are mapping from a

[2016-08-17 08:18] #4 closed

[2016-08-17 08:19] #2 closed

[2016-08-17 08:47] blender commented on #7
To clarify, I understand that your scenario is as follows:

In your Cartfile.resolved:

[code]

But your framework name is actually __not__ Awesome-cat-names but something else.

Correct?

[2016-08-17 10:03] blender commented on #7
Please try pre-release https://github.com/blender/Rome/releases/tag/v0.4.0.4

[2016-08-17 13:51] blender opened #9 "Deliver Rome via Homebrew"
Make Rome available via Homebrew

[2016-08-17 13:51] blender opened #10 "Set up Travis for Rome"
Set up CI for Rome

[2016-08-18 12:28] blender commented on #7
@erichoracek  any feedback?

[2016-08-19 06:20] erichoracek commented on #7
This build appears to have fixed the issue—thanks again for the responsiveness! Everything now seems to be working beautifully ✨

[2016-08-19 06:31] blender commented on #7
Great! I will make one more change to the Romefile format to align it with the INI file format and then make a stable realease. This will require changing the old Romefile. Sorry for that.

[2016-08-19 06:34] erichoracek opened #11 "Symbols are not uploaded"
The following carthage command:

[code]

produces the outputs:

[code]

However, invoking:

[code]

Only uploads the framework, not the `dSYM`.

It would seem that rome should cache not just `.framework` files matching the framework name, but rather any files matching the prefix of the framework name.

[2016-08-19 06:52] erichoracek opened #12 "One to many repository maps"
Carthage allows one repository to have many framework targets. When a carthage build is performed, it builds them all. An example of this is [CocoaLumberjack](https://github.com/CocoaLumberjack/CocoaLumberjack), which produces two iOS frameworks from a single repository:

[code]

this produces:

[code]

It seems as if the `[RepositoryMap]` should allow for a single repository to map to many framew

[2016-08-19 07:12] blender commented on #11
How do you see this working in case either the framework is missing or the  dSYM is missing ?

Should `rome (upload | download) ReactiveCocoa` fail if either is missing?
How would this work with `rome list ([--missing] | [--present])`? When should rome report a cache miss?

[2016-08-19 07:23] blender commented on #12
How do you see this working when

- `rome (upload | download) CocoaLumberjack` ? Should rome try to upload/download all resolved names?
- `rome list ([--missing] | [--present])` ?
- Should rome report cache hits only when ALL resolved names are present?
- Should rome report misses when ANY of the resolved names is a miss?

[2016-08-19 09:19] #7 closed

[2016-08-19 17:34] erichoracek commented on #11
Since there is not a guarantee that a dSYM will be available for a prebuilt framework in zipped GitHub releases that Carthage consumes, I don't think Rome should require symbols to be available either. It seems like Rome should just opportunistically upload all `Carthage/Build` products prefixed by the framework name, and do the equivalent during downloads.

With respect to the above scenario, if

[2016-08-19 17:44] erichoracek commented on #12
I think this one is a bit different from dSYMS. If you have specified that a framework has a one-to-many repository/framework relationship, it would seem like rome would try to upload/download all names if they're specified, and consider any operation a failure if one of the frameworks are unavailable. As far as I know, there is no way to tell carthage to only build a specific subset of frameworks

[2016-08-21 16:16] blender commented on #5
- Got s3 bucket from ini
- Returning empty array of RomefileEntries for now

Next: get keys and values from `REPOSITORYMAP`section https://github.com/blender/Rome/tree/feature/romefile-ini

[2016-08-21 17:40] blender commented on #11
Hi, this will be the next feature once the Romefile has moved to the INI format.

- For contributors: `dSYM` are found in the same directory as the frameworks and must be zipped as well.

[2016-08-21 22:16] blender commented on #7
@erichoracek v0.4.0.5 with GitHub reference and [Romefile ini](https://github.com/blender/Rome/blob/93fcb22698993625fc5bba20b7589c0623dd1f79/README.md) is out. Please try, beware that the format of the Romefile has changed.

- Section `[S3-Bucket]` is now called `[Cache]`
- Section `[Cache]` __must__ contain a key called `S3-Bucket`
- Key-Value format is now `key = value`

Please see Romefile sect

[2016-08-23 08:17] blender commented on #5
Implemented with #14

[2016-08-23 08:17] #5 closed

[2016-08-23 08:24] blender commented on #11
Available in pre-release https://github.com/blender/Rome/releases/tag/v0.5.0.6

[2016-08-25 11:59] blender commented on #11
Available from https://github.com/blender/Rome/releases/tag/v0.5.0.7 onwards

[2016-08-25 11:59] #11 closed

[2016-09-06 13:00] blender commented on #12
@erichoracek  Please try https://github.com/blender/Rome/releases/tag/v0.6.0.8

[2016-09-09 17:25] blender commented on #12
Fixes a crash in v0.6.0.8 https://github.com/blender/Rome/releases/tag/v0.6.0.9

[2016-09-10 19:38] erichoracek commented on #12
From trying out version 0.6.0.9, this doesn't seem to be working quite as expected. We have a repo named `libPusher-Carthage`, which builds the `Pusher` and `SocketRocket` frameworks.

When specifying the following `[RepositoryMap]`:
[code]

and this `Cartfile.resolved`:
[code]

I get the following behavior on `rome upload`:

[code]

And the following behavior on `rome download`:

[code]

However,

[2016-09-25 19:04] blender commented on #12
@erichoracek I believe your problem are additional white spaces around frameworks names. This is address in https://github.com/blender/Rome/releases/tag/v0.6.0.10

[2016-09-26 16:32] erichoracek commented on #12
@blender Thanks! I'll try this out.

Re: the [v0.6.0.10](https://github.com/blender/Rome/releases/tag/v0.6.0.10) release, it would appear that the binary is missing from the Github attachments.

[2016-09-26 16:36] blender commented on #12
@erichoracek  Sorry about that. Fixed.

[2016-09-27 05:59] erichoracek commented on #12
Appears to be working perfectly now, thanks!

[2016-09-27 08:12] #12 closed

[2016-09-28 12:32] netbe opened #21 "More verbose infos"
Hi,

Would it be possible to have more verbose info on the download of the frameworks?

- At least started time
- better: % done or output on bytes dl/ total

I need that as Jenkins will kill the build if the job does not produce output log after a given time

[2016-09-28 13:24] blender commented on #21
Sure, on it :)

[2016-10-01 07:33] blender opened #24 "Upload the current framework when available"
Rome should be able to also upload the framework build from the current project when
`carthage build --platform iOS --no-skip-current` is used.

**Steps which explain the enhancement**
1. In the Romefile add an optional [Current] section
1. In the [Current] section add a required `currentRepoName = current-framework-name` key value pair
1. Get the version commit hash or tag name from git
1. `rome

[2016-10-01 09:51] blender opened #25 "Refactor Stringly Typed Functions to Properly typed functions"
Refactor all the `type Something = String` to `newtype Something = Something String`

**Steps which explain the enhancement**

1) In Data.Cartfile refactor:
[code]
to
[code]
2) In Data.Romefile refactor:
[code]
to
[code]

3) Adapt the remaining code to the new types

**Current and suggested behavior**

Currently some functions are _stirngly_ typed and this leads to quite some confusion around them

[2016-10-01 16:43] 2016rshah commented on #25
I'd be happy to work on this!

[2016-10-01 16:54] blender commented on #25
@2016rshah Please go ahead.

[2016-10-01 16:55] blender commented on #25
@2016rshah Once you are done I can open another issue and  if you know QuickCheck you could write some test for the refactored code too.

[2016-10-02 05:46] #25 closed

[2016-10-02 05:48] blender commented on #25
@2016rshah Thanks for your contribution!

[2016-10-02 06:06] tmspzz opened #27 "Add Tests for some simple funcions"
Tests are currently lacking in the project. While some functions are harder to tests there are a few low hanging fruits.

**Steps which explain the enhancement**

By using [QuickCheck](https://hackage.haskell.org/package/QuickCheck) add more tests

Tests should reside in the [tests](https://github.com/blender/Rome/tree/master/test) directory

**Current and suggested behavior**

No changes to the a

[2016-10-03 00:27] prt2121 commented on #27
i'll take a stab at this

[2016-10-03 09:42] blender commented on #27
@prt2121 please go ahead :)

[2016-10-06 22:02] #10 closed

[2016-10-07 06:01] erichoracek opened #30 "Rome upload does not accept repository name (if differs from framework name)"
**Current behavior**

Cartfile:
[code]

Romefile:
[code]

When building with Carthage:

[code]

The following is produced: `Cartage/Build/iOS/HockeySDK.framework*`

However, unlike Carthage, the repo name does not work when passed to `rome upload`

[code]

If the Framework name is specified, it does work:

[code]

As such, `rome upload` doesn't function the same way as Carthage, which is what user

[2016-10-07 06:18] erichoracek opened #31 "Allow for certain repositories to be ignored entirely"
Some repositories use Carthage as a simple mechanism to include other git repositories that do not produce frameworks. Even Carthage itself does this, to include [xcconfigs](https://github.com/Carthage/Carthage/blob/master/Cartfile.private#L3).

To accommodate for this existing paradigm, Rome should allow for certain repositories to be omitted entirely from the upload/download/list commands.

One

[2016-10-07 12:03] blender commented on #30
@erichoracek How would this play with the multiple aliases?

[code]

I assumed that one might want to upload just CatCore and not Caturday

[2016-10-07 12:09] blender commented on #31
Sounds good.

[2016-10-07 17:22] erichoracek commented on #30
@blender Since there is no way to tell Carthage to only build a single framework from a repository, I'm not sure this should be the default behavior. From your hypothetical example, invoking `carthage build` would produce both `Caturday` and `CatCore`. I can't think of a scenario in which you wouldn't want to cache both of these products. Even if there is one, perhaps it should be be an additional

[2016-10-08 06:42] blender commented on #30
@erichoracek Thanks for you input. I'll need some time to think about what impact this has on the existing code/logic.

[2016-10-08 13:36] blender commented on #21
#22 has been merged and the following has been implemented:

- Added logging of beginning / ending operation if -v verbose flag is entered
- Added timestamp to log of operations

Download/upload progress will come when I figure out how :)

[2016-10-08 19:26] blender commented on #30
@erichoracek  please try pre-release [v0.7.0.12](https://github.com/blender/Rome/releases/tag/v0.7.0.12)

[2016-10-08 19:38] blender commented on #31
@erichoracek Some clarification is needed

In the light of #30  adding an ignore section will look like this:
[code]
This allows selective ignoring when using aliases #12

Can this do?

[2016-10-08 19:53] erichoracek commented on #31
@blender sure, this will work

[2016-10-08 22:17] erichoracek commented on #30
Appears to be working, thanks!

[2016-10-09 08:27] blender commented on #27
Thanks to @prt2121

- filterByName: Done
- splitWithSeparator: Done

[2016-10-09 09:34] #30 closed

[2016-10-09 18:45] blender commented on #31
@erichoracek please try [v0.7.1.13](https://github.com/blender/Rome/releases/tag/v0.7.1.13)

[2016-10-11 10:00] blender opened #35 "Add support for multiple platforms"
#### Enhancement Suggestion

    Add support for more platforms (watchOS, tvOS, macOS)

    **Current and suggested behavior**

    Currently only iOS is supported, this should be expanded to other platform too.

    **Why would the enhancement be useful to most users**

   This enhancement should be useful for frameworks that target more than 1 platform.

    **Rome version:** v0.7.1.13
    **OS

[2016-10-11 10:02] blender opened #36 "Add support for multiple platforms"
#### Enhancement Suggestion

Add support for more platforms (watchOS, tvOS, macOS)

**Current and suggested behavior**

Currently only iOS is supported, this should be expanded to other platform too.

**Why would the enhancement be useful to most users**

This enhancement should be useful for frameworks that target more than 1 platform.

**Rome version:** v0.7.1.13
**OS and version:** Mac OS 10.11

[2016-10-11 15:25] wuntunsun opened #37 "Add support for uploading resulting build"
#### Enhancement Suggestion

    When making changes to an existing framework, which is to be integrated into another framework or app, it is not possible to upload it as Rome only refers to the Cartfile.resolved and not the actual framework being built. This means that the framework in question must first be checked out and built in some other context.

    **Steps which explain the enhancement**

[2016-10-11 15:27] blender commented on #37
could this be a duplicate of #24 ?

[2016-10-11 15:43] wuntunsun commented on #37
Yes, it is an exact duplicate. I eagerly await it!

[2016-10-11 15:43] #37 closed

[2016-10-11 17:16] netbe opened #38 "Feature Local Cache"
#### Enhancement Suggestion

   Would be great to have a local cache directory instead of AWS
    **Steps which explain the enhancement**

[code]

  sometimes, it takes too much time to fetch on aws

[code]

[2016-10-13 11:28] blender commented on #31
@erichoracek  seems to work as expected over here, do you have any input?

[2016-10-14 05:02] erichoracek commented on #31
@blender Appears to be working perfectly—thanks for taking a stab at this. Rome has been a joy to use.

[2016-10-14 08:27] blender commented on #31
Thank, maybe you have input on #38

[2016-10-14 08:27] #31 closed

[2016-10-14 08:30] blender commented on #38
Suggested Implementation:

[code]

Now, if you don't want to use the local cache you can remove the key from the Romefile.

Should also a flag be provided to ignore the local cache in case it's specified?

[2016-10-18 22:43] blender opened #40 "Entries in Cartfile.resolved after empty lines are ignored"
# Issue Description

If there are empty lines in `Cartfile.resolved` like so

[code]

CoreStore and Tyro are ignored.

Rome version: 0.7.1.13
OS: macOS 10.11.6 El Capitan
# Expected Result

CoreStore and Tyro not are ignored.

[2016-10-18 22:44] blender commented on #40
@netbe  please try pre-release [v0.7.1.14](https://github.com/blender/Rome/releases/tag/v0.7.1.14)

[2016-11-12 22:27] blender commented on #40
Fixed.

[2016-11-12 22:27] #40 closed

[2016-12-05 22:02] blender commented on #9
Formula available at https://github.com/blender/homebrew-tap/blob/master/rome.rb

Install via `brew install blender/homebrew-tap/rome`

[2016-12-05 22:02] #9 closed

[2017-01-30 16:54] r-peck commented on #36
How do you envision this working with respect to the `list` command?

[2017-01-30 16:58] blender commented on #36
@r-peck how about a switch just like carthage? like list [--platform iOS]

[2017-01-30 21:36] r-peck commented on #36
So for the `--missing`/`--present` options, should a platform or list of platforms be required? If not, should having a cached version for any platform be counted?

Without the presence option it could probably just list broken out by platform.

[2017-01-30 21:38] r-peck commented on #36
It feels a little odd since you may have frameworks that don't support a given platform and that you don't care to use there (maybe a framework that's only used in your main application but not in your watch app).

[2017-01-30 23:53] blender commented on #36
I think it's appropriate to consider how carthage handles this.

By default carthage is platform agnostic and will perform the given command for all platforms in sequence unless a --platform [list, of, platforms] option is given to the command.

That said let's imagine how this would work for Rome.

- `rome upload awesome-cat-names`  will upload awesome-cat-names for all platforms
- `rome upload -

[2017-01-31 01:21] r-peck commented on #36
That mirrors my thinking for the most part. My biggest concern was with changing the listing format:

* Let's say you've got an app with A.framework and B.framework that also embeds a watch app that uses A.framework. B.framework is not available for watchOS.
* `rome list --missing` might have something like `iOS:;watchOS:B` (not actual suggested format, but just an example of something parseable c

[2017-01-31 08:12] blender commented on #36
I agree that it is upon the user to run the command for the appropriate platform. With the current Romefile format there is no way to specify frameworks per platform. This is doable but it would mean going in a completely different direction.

Wether a platform argument should be specified or not for the list command it will still be a breaking change. I'm afraid that there is not easy way around

[2017-01-31 15:09] r-peck commented on #36
Makes sense to me.

[2017-01-31 15:26] blender commented on #36
Great! Thanks for helping defining this :)

[2017-01-31 21:32] blender commented on #38
Done with suggested implementation

[2017-01-31 21:32] #38 closed

[2017-01-31 22:20] blender commented on #36
Heads up, #41  was merged and #38 closed. This restructures some stuff.

[2017-02-01 00:07] erichoracek commented on #36
Thanks for moving this proposal forwards guys! It's something we'll be needing soon. A few questions/comments:

With respect to argument style, to match the style of Carthage, I believe that this would be `--platform iOS,watchOS`. See https://github.com/Carthage/Carthage/pull/726.

With respect to the `missing`/`present` behavior, I have a question that I believe will affect the implementation of

[2017-02-01 11:11] blender commented on #36
I think --platform in carthage works with or without the comma, of it doesn't I never noticed :D

The behaviour with `list [--missing | present]` is problematic only in the case of multiple platforms being used in the same project at the same time. This is the case for and iOS & watchOS app or for a frameworks that builds for all platforms.

# Assumptions
Let's assume the situation that @erichorac

[2017-02-01 13:01] r-peck commented on #36
For the platforms delimiter, Carthage documents requiring comma. It will, however, handle spaces as long as the list is treated as a single argument by the shell (enclosed in quotes, for example).

On listing per-platform, Solutions 2-4 are additive to solution 1 since not specifying something in the Romefile would fall back to ignoring. I would lean toward get the functionality in place first (so

[2017-02-01 13:59] r-peck commented on #36
@blender @erichoracek Any strong feelings about the updated list output format, especially regarding sectioning—how are sections delimited, should it nest frameworks per platform or platforms per framework, etc.

[2017-02-01 15:23] blender commented on #36
@r-peck I can get behind Solution 1 which solves the problem for the time being and is also retro-compatible

I suggest the following format that also gets rid of headers completely:

<framework-name>: ((+|-)<platform>)?

Example:

[code]

[2017-02-01 19:39] r-peck commented on #36
From an implementation standpoint, I like the simplicity of that, and I like that it is consistent in all modes (default, missing, present). Would it make sense to include an example in the readme of how to extract a list of frameworks to forward to Carthage for a given platform since this will be less straightforward than with the current `list --missing` behavior of just printing the list?

[2017-02-01 21:33] blender commented on #36
Sure or a output formatter flag could be provided like ` - - format=carthage`. I guess that for the sake of a simple first implementation it's easier to provide instructions in the Readme.

[2017-02-01 22:28] blender commented on #36
I have added a `ready-to-implement` label that I will add to this issue once we agree on the design of this feature. I would like to wait for @erichoracek  comments on both the solution approch and the output format. Then give it a few days to sink in. Hopefully all of this can happen before the weekend.

I would encourage anyone to try to sketch the CLI command and the output in a textual format.

[2017-02-02 00:28] r-peck commented on #36
@blender I had actually taken a stab at the upload/download part of it, but stopped short of listing since that seemed to be the most contentious area. Also, if upload/download does change direction, I'm not worried about the lost effort.

[2017-02-02 00:38] blender commented on #36
That is awesome!  I don't think upload / download behavior will change anyhow. It's pretty clear that the only real problem is list and what the output format format should be.

I have also realized that the current output of list also reports the version of the framework. So a more compete format definition would be `<framework-name> <version-hash>: ((+|-)<platform>)?`

[2017-02-02 08:08] erichoracek commented on #36
Of all of the options, I agree that Solution 1 is the most reasonable in terms of complexity and as a first pass. We may have to update our script that does a `carthage build` for each Rome cache miss to run once for each platform (rather than building both at the same time) to prevent unnecessary builds. However, this doesn't seem like too much of an issue for me.

One small comment with respect

[2017-02-02 23:10] blender commented on #36
It seems we have an agreement for Solution 1, a.k.a ignore the problem.

# Clarification about presence switches `--missing`|`--present`

@erichoracek I think we have a misunderstanding on`$rome list --present` from what I see in from your first command. The `--present` switch will only report cache hits per framework per platform. So the actual output should be.

[code]

Since FrameworkA is not a

[2017-02-03 05:53] erichoracek commented on #36
@blender ah yes—I think I left something out in my response. My intent was to say that if a single `--platform` argument _and_ either `--present` or `--missing` were _both_ specified at the same time, `(+/-)<platform-name>` could be omitted from the output as it would be redundant. This would be similar to the existing behavior of `--present` or `--missing` with `iOS` as the only available platfor

[2017-02-03 14:33] r-peck commented on #36
Yeah, I would be in favor of consistency. having different output formats based on different combinations of otherwise-unrelated options seems like unnecessary complexity. As mentioned by @blender, a formatted could always be added in the future to do this more explicitly.

As far as including version number, no strong feelings from my side.

[2017-02-03 14:52] blender commented on #36
I prefer consistency at this point. I would also include the version number for the reasons I stated above.

We can provide scripts to parse the output for the special case we're talking about.

For me this is ready for implementation. I will add the tag. Nice discussion everyone!

[2017-02-05 01:53] blender commented on #36
Update about `--platform` option

The CLI parsing library does not allow options with multiple arguments so it's either
`$ rome list --platform iOS --platform watchOS`
`$ rome list --platform iOS,watchOS # no spaces or whatever comes next will be considered a new CLI option
`$ rome list iOS, watchOS # note --platform`

[2017-02-06 03:20] erichoracek commented on #36
In the past it seems that the decision has always been to closest match the style of Carthage. In this case, to match documented behavior, it seems like it should be comma-separated, e.g. `iOS,watchOS`.

From `carthage help build`:

[code]

[2017-02-06 09:29] blender commented on #36
So it is then :)

[2017-02-06 22:17] blender commented on #36
And thanks to @r-peck 's incredible work, we have a pre-release https://github.com/blender/Rome/releases/tag/v0.9.0.18 !

Please test if you can and report any bugs. I will promote it to a proper release if no issues a found in a week or so.

[2017-02-07 05:25] erichoracek commented on #36
Thanks guys, this is awesome! Can this new directory structure coexist in the same bucket that previous versions of `rome` have (or will) use? E.g. can we try this out without potentially breaking our bucket's backwards compatibility with previous versions?

[2017-02-07 09:20] blender commented on #36
@erichoracek you can try this out without breaking compatibility with previous versions.

The bucket/local cache structure was:
`<git-repo-name>/<framework-name-and-version>.[framework|dSYM]`
it is now:
`<git-repo-name>/<platform>/<framework-name-and-version>.[framework|dSYM]`

This means that versions of  rome >= 0.9.0.18 won't find frameworks uploaded by old versions of rome and the other way ar

[2017-02-07 15:09] r-peck commented on #36
@blender @erichoracek I think part of the cache layout was overlooked in my implementation. This doesn't affect whether or not cache layout is interfering with previous versions - that is still fine, but the current build is using
[code]
I'm putting together a fix to use git repo name at the top level since it is reasonable to expect different repos may have targets with the same framework names.

[2017-02-07 15:26] blender commented on #36
Updated: https://github.com/blender/Rome/releases/tag/v0.9.0.19

[2017-02-09 00:31] blender commented on #21
Implementing download progress report in #44

[2017-02-09 11:08] blender commented on #36
Hello,

I just want to reiterate that the cache paths have changed from:

`<framework-name>/<framework-name-and-version>.[framework|dSYM]`

to

`<git-repo-name>/<platform>/<framework-name-and-version>.[framework|dSYM]`

Example:

Suppose you have the following

Cartfile.resolved:
[code]
and  Romefile:
[code]

The cache path for rome <= 0.8.x.x was

`Kernel/Kernel-v0.8.9.framework`

it is now

`sav

[2017-02-12 19:19] blender commented on #36
I have not heard any complains about this version thus I will close the issue. Thank you all for the discussion and thanks @r-peck for you great contribution.

[2017-02-12 19:19] #36 closed

[2017-03-16 13:10] t089 opened #47 "Support for carthage --cache-builds flag"
Hey,

carthage 0.20.0 introduced the `--cache-builds` flag, which generates `.NAME.version` [version files](https://github.com/Carthage/Carthage/blob/master/Documentation/VersionFile.md) for each built framework. When building a dependency carthage will use these version files to check if a corresponding build artefact is already available and skip the build. Would be great if rome could store the

[2017-03-17 10:06] blender commented on #47
Interesting, I will take a look at that.

[2017-03-17 14:14] blender commented on #47
@t089 Maybe I ask what the use case for this is?

Usually the workflow with rome resembles the following:
[code]

[2017-03-17 14:59] t089 commented on #47
Very good questing. Let me explain:

Say you have a dependency **FrameworkA** that itself depends on **FrameworkB** and **FrameworkC**.

Now, **FramworkA** needs an update. In your example Rome would fail to download  **FramworkA** from cache and would trigger a carthage build. Carthage would then build **FrameworkA** but would also build its dependencies **FrameworkB** and **FrameworkC**, althoug

[2017-03-17 15:05] blender commented on #47
@t089 I understand. Thanks for explaining, I think we have the same issue but never noticed.

Do you have any opinion on the implementation details I have made a note of to myself in the first comment?

[2017-03-19 22:07] blender commented on #47
Please try pre-release https://github.com/blender/Rome/releases/tag/v0.10.0.21

Let me know if it works as expected and I will proceed with a full release.

[2017-03-20 07:54] t089 commented on #47
Awesome, that was quick, nice work. May I ask which route of implementing it you chose?  I ran a quick test `rome upload` and it reported `Uploaded .Xy.version to: Xy/.Xy.version-3.3.1`. But `rome download xy` did not seem to restore the version file locally.

[2017-03-20 08:12] blender commented on #47
I implemented the following:

- Version Files are uploaded to `<git-repo-name>/.<git-repo-name>.version-<carthage-resolved-version-hash>`
- Version Files are restored to `Carthage/Build`

Seems to work for me, I'm running:

[code]

[2017-03-20 09:54] t089 commented on #47
Oh, boy was probably too early in the morning 💤, of course I was using the pre-release version binary only for the upload but not for the download command. Ok, seems to work for me as well. Thank you 👍

[2017-03-20 10:04] blender commented on #47
Great, I will test a little more and hopefully promote the tag to full release :)

@t089 Thanks for suggesting this feature. I look forward to hear more feedback.

[2017-03-21 16:02] blender commented on #47
Looks like it's working. Full release it is!

[2017-03-21 16:02] #47 closed

[2017-03-22 09:16] blender opened #49 "Add Support for Google Cloud Storage"
#### Enhancement Suggestion

Add support for Google Cloud Storage

**Current and suggested behavior**

Currently only Amazon's S3 is supported as remote storage. Supporting Google Cloud Storage would allow users on the Google Cloud to use Rome too

**Why would the enhancement be useful to most users**

Supporting Google Cloud Storage  would allow users on the Google Cloud to use rome too.

[2017-03-23 23:20] blender opened #50 "Add a command to verify several properties of a framework"
#### Enhancement Suggestion

Add a command to verify several properties of a framework

**Steps which explain the enhancement**

A verify command with several switches could be added to:
- verify properties contained in the Info.plist of a framework
  - verify that a framework is actually at the version it claims to be in the cache
  - verify that a framework is built by a specific user
  - eventu

[2017-03-24 00:09] blender opened #51 "Reduce code duplication in some function"
#### Enhancement Suggestion

Reduce code duplication in some function.

**Steps which explain the enhancement**

Example of function which could use some slimming down
- [downloadVersionFileToCaches](https://github.com/blender/Rome/blob/master/src/Lib.hs#L290)
- [downloadFrameworkAndDsymFromCaches](https://github.com/blender/Rome/blob/master/src/Lib.hs#L325)

**Current and suggested behavior**

Cu

[2017-03-30 06:43] o2x7 opened #53 "Unable to download after upload"
Some of my frameworks are missing the platform directory and cannot be downloaded after a successful upload

For example, I execute the following command and get a success message:
[code]

I can see on AWS, the file exists under /amp.ios/.amp.ios.version-2.27

When i attempt to download the file I get an error:
[code]

But i have another framework that works just perfect:
[code]

I can see on AWS,

[2017-03-30 07:52] blender commented on #53
Can it possibly be that you are mixing to things?

In your first example I see that reported uploaded is a `.version` file. This is not your frameworks but just the `.version` [information that Carthage builds](https://github.com/Carthage/Carthage/blob/master/Documentation/VersionFile.md) when using `--cache-builds`. The location of this file in the remote cache mirrors the location of where Carth

[2017-03-30 15:20] blender commented on #53
Please try: https://github.com/blender/Rome/releases/tag/v0.10.1.22

[2017-04-02 20:42] Palleas opened #56 "Getting a library not found error after downloading with Rome"
This is my app: http://github.com/palleas/memoires

I run the following commands `make update` to run `carthage` and upload on S3 with `rome`. This is the output:

[code]

After that, the result of `rome list --platform ios --missing` is empty so everything worked and I can run my project without issue.

Now if I remove my `Carthage` folder and run `make bootstrap` (which runs `carthage update` an

[2017-04-02 20:50] blender commented on #56
Thanks, will take a look 👍

[2017-04-04 11:18] blender commented on #56
Solved with https://github.com/Palleas/bookish-invention/pull/1#event-1028177117 where I could build :)

[2017-04-04 11:18] #56 closed

[2017-04-04 14:20] yuriferretti-luizalabs opened #57 "Missing executable permission to framework"
When downloading files from cache the Module.framework/Module file doesn't have executable permission, this leads to `library not loaded crashes`
Just adding the missing executable permission fix this issue.

[2017-04-04 15:46] blender commented on #57
Hi @yuriferretti-luizalabs , what platform is this?

[2017-04-04 16:52] erichoracek opened #58 "Rome fails with binary references in Cartfile.resolved, still exits cleanly"
When the Cartfile.resolved contains a binary framework, e.g.:

[code]

Rome emits the following error when attempting to perform a download:

[code]

Additionally, when this occurs, Rome does not error with a non-zero exit status to indicate that an error occurred. This causes scripts to continue as if no error occurred.

This was tested with the latest Rome version:

[code]

[2017-04-04 19:26] blender commented on #58
@erichoracek binary repos are not supported at the moment. I was unaware of this feature in Carthage.

I will add support for binary only frameworks, I need to study a little how deal with this case.

I'll also correct the exit status on parse errors.

[2017-04-04 19:37] yuriferretti-luizalabs commented on #57
@blender I'm building/caching for iOS platform

[2017-04-04 19:46] blender commented on #57
Thanks, it's the first time I hear of this this problem. Are you sure this is not related to this: https://github.com/blender/Rome/issues/56 specifically you are not building frameworks at all but just relaying on Rome leading to this: https://github.com/Palleas/bookish-invention/pull/1#event-1028177117  ?

[2017-04-04 20:01] erichoracek commented on #58
Is there any reason why Rome would need to cache prebuilt frameworks for `binary` Cartfile references? Since these have no artifacts that need caching, I'd be fine if Rome just ignored them outright.

[2017-04-04 20:03] yuriferretti-luizalabs commented on #57
I don't think so, because I didn't change anything related to `Always Embed Standard Libraries` nor framework copy / linking. I just compared carthage build output with rome cache output and noticed that all `Carthage/Build/iOS/{framework-name}.framework/{framework-name}` in rome cache were missing executable permission.
Then I executed `find Carthage/Build/iOS/" --name "*.framework" | xargs chmod

[2017-04-04 20:06] blender commented on #58
I guess a few reasons could be:
- to avoid a download if are using the local cache option.
- to store frameworks privately in your S3 bucket.

I can to start with try to tolerate parse errors in the `Cartfile.resolved`

[2017-04-04 20:10] blender commented on #57
I have checked my local cache and I also don't have +x permissions on downloaded frameworks but everything works fine for me.

What version of Xcode are you using?

[2017-04-04 20:14] erichoracek commented on #58
Carthage has an internal cache for prebuilt binaries at:
[code]
so I don't think that you'd be avoiding unnecessary downloads.

As such, as far as I can tell, the only benefit that Rome support for `binary` Cartfile references would have is storing `binary` frameworks in your S3 bucket.

The ideal behavior for us would just be to ignore these frameworks outright since we don't care about having th

[2017-04-04 20:17] yuriferretti-luizalabs commented on #57
I'm using `Xcode 8.3`

[2017-04-04 20:21] blender commented on #58
I think a download can be avoided if the frameworks is placed directly at the correct path in `Carthage/Build/{platform}` and carthage just invoked with `build`

To make this work property I think that Rome would need to resolve the binary json and figure out a couple of things. After that it would generate a `Romefile.resolved` (the irony) where it stores the missing information for these cases.

[2017-04-04 20:23] blender commented on #57
Ok, thanks. I am using Xcode 8.2.1, that might be the problem.

[2017-04-04 20:28] erichoracek commented on #58
That seems reasonable—as long as `binary` lines are ignored for the time being and do not cause the command to fail that should work for us. 👍

[2017-04-04 20:34] yuriferretti-luizalabs commented on #57
Tell me if you need some help, I'll be glad helping you to improve this awesome lib!

[2017-04-04 20:38] blender commented on #57
Thanks, I could use some help if you want to take it. It would involve probably using https://hackage.haskell.org/package/turtle to run chmod

Let me know if you want to try your luck :)

[2017-04-04 23:33] blender commented on #58
Please try https://github.com/blender/Rome/releases/tag/v0.10.2.23

[2017-04-05 00:43] erichoracek commented on #58
@blender that fixed it, thanks!

[2017-04-07 00:29] blender commented on #57
Please try pre-release https://github.com/blender/Rome/releases/tag/v0.10.2.24

If you confirm I will make a full release.

[2017-04-07 13:33] yuriferretti-luizalabs commented on #57
@blender how can install this version ?

[2017-04-07 14:17] blender commented on #57
@yuriferretti-luizalabs download from here: https://github.com/blender/Rome/releases/download/v0.10.2.24/rome.zip

- Copy it to the folder where you project is and run `./rome --version` be sure it says 0.10.2.24
- Run then `./rome ...`  command that you desire

[2017-04-10 07:56] blender commented on #57
@yuriferretti-luizalabs Did you have a chance to try out the fix?

[2017-04-10 07:58] blender commented on #53
@o2x7 did you have a chance to try out the version above?

You can also try this version https://github.com/blender/Rome/releases/tag/v0.10.2.24 . The binary is attached as a zip file.

[2017-04-10 13:22] yuriferretti-luizalabs commented on #57
@blender I just tested and everything is working like a charm!!!

[2017-04-10 13:22] blender commented on #57
Great, I'll make a full release then! Thank you very much!

[2017-04-10 13:22] #57 closed

[2017-04-10 14:03] blender commented on #58
There is a full new release that includes this fix and #57 , get it with `brew upgrade rome`

[2017-04-10 14:03] #58 closed

[2017-04-10 14:03] blender commented on #57
There is a full new release that includes this fix and #58  , get it with `brew upgrade rome`

[2017-04-11 03:53] muukii opened #61 "Can I use local cache only?"
I want to use **Rome** as local cache only.
That is useful when I using git-worktree.

[2017-04-11 10:00] blender commented on #61
This is certainly doable.

However how do you see this working with the remote cache?

1) How would the list command work? Should a cache specifier be added (--local, --remote=s3)?
2) Do you expect any changes in upload/download behaviour when both a local and a remote cache are specified?
3) If just a local cache is specified how should `upload/download --skip-local-cache work`? Do nothing?

[2017-04-11 13:30] blender commented on #61
@muukii If you need to use the feature "right now" as a work-around you can just provide fake AWS credentials and a fake name for the S3-Bucket. Then use the normal upload/download commands. Rome will fail uploading to the network but should copy to/from your local cache.

[2017-04-11 14:46] muukii commented on #61
@blender
Thank you. I'll try that work-around.

I think that Rome should have `--local-only` option.
if Rome received `--local-only` option then cache to local only.
if Rome received no option then cache to both remote and local.

[2017-04-20 17:37] caynan commented on #61
I would love to see this feature, I'm willing to help implement it, I just need some initial guidance.

[2017-04-20 18:50] blender commented on #61
@muukii  @caynan I'm at work on it but it's requiring some major code refactoring to avoid a ton of duplication.

@caynan Thank for the availability, you can follow the progress here: https://github.com/blender/Rome/pull/63

[2017-04-26 16:53] blender commented on #61
@muukii @caynan please try pre-release https://github.com/blender/Rome/releases/tag/v0.11.0.25

in your Romefile you can just specify `local = some/path/` in the `[Cache]` section. The `S3-Bucket` key is now optional. If you have both keys specified you get the old behaviour.

[2017-04-26 16:57] caynan commented on #61
@blender I will try it in a bit, you're the best. I'm sorry I couldn't help you, I realized the code base is in Haskell and I don't have any knowledge of it :/

[2017-04-26 21:42] blender commented on #61
@caynan Thanks, I am glad of your appreciation. I encourage you to try your hand at Haskell :) Let me know if you encounter any bugs with this version.

[2017-04-27 17:30] muukii commented on #61
@blender whoa! Thank you!  I'll try it!

[2017-05-05 19:48] erichoracek opened #64 "Rome places files within frameworks individually rather than replacing entire framework on download"
Currently, when you download a framework that has less files than what's on disk, Rome will leave the old files in place within the framework's directory structure.

For example, in CocoaLumberjack 3.2.0, the `DDOSLogger.h` file was added. If you have CocoaLumberjack 3.2.0 on disk, and perform a `rome download CocoaLumberjack` (with your Cartfile.resolved containing version 3.1.0), the `DDOSLogger

[2017-05-05 19:50] erichoracek commented on #64
For example, `rsync`'s handles this via its `--delete` parameter:

[code]

However, I can't think of a reason why you wouldn't want this behavior with `rome`.

[2017-05-05 22:48] blender commented on #64
Got it. The solution is to simply delete the current framework folder before unpacking. I don't believe there is a reason to a an explicit flag for this. It should be the only behaviour acceptable.

[2017-05-08 16:25] blender commented on #64
@erichoracek  please try pre-release v0.11.0.26 at https://github.com/blender/Rome/releases/tag/v0.11.0.26

[2017-05-10 08:51] blender commented on #64
@erichoracek  Any feedback?

[2017-05-10 17:01] erichoracek commented on #64
Tried it out, looks good to me!

[2017-05-10 17:28] blender commented on #64
all right, off we go with a release then!

[2017-05-10 17:28] #64 closed

[2017-05-10 19:37] blender commented on #61
Released in https://github.com/blender/Rome/releases/tag/v0.11.0.27

[2017-05-10 19:37] #61 closed

[2017-05-11 07:02] blender commented on #53
@o2x7 Any update? This is another release you can try https://github.com/blender/Rome/releases/tag/v0.11.0.27 . I will close the issue in a few days if I don't hear back. Feel free to comment even if closed and I will open it again.

[2017-05-12 12:28] blender commented on #49
Use this library: https://github.com/brendanhay/gogol

[2017-05-18 14:43] #53 closed

[2017-05-18 14:50] blender opened #69 "Romefile auto generation"
#### Enhancement Suggestion

Rome should be able to automatically generate a Romefile

 **Steps which explain the enhancement**

1. Given a `Cartfile.resolved`
2. Given a `Carthage/Checkouts` folder
3. Automatically generate a Romefile or append to an existing Romefile any derivable information

**Current and suggested behavior**

Currently users have to generate by hand a Romefile. This can be an

[2017-05-22 22:33] ekimia opened #70 "return a nonzero error code when missing an item in the cache"
#### Enhancement Suggestion

    Main use case: pulling in the cache from CI, seeing there isnt a rome cache, and then moving onto running `carthage update` followed by `rome upload`.

    **Current and suggested behavior**

Currently it outputs the "could not find .frameworkname.version in local cache at: CACHE_DIR but with a 0 exit code.

    **Why would the enhancement be useful to most users**

[2017-05-22 22:35] ekimia commented on #70
Would totally be down to submit a PR but wanted to get the feelers out about this change.

[2017-05-23 06:25] blender commented on #70
Hi @ekimia, thanks for opining an issue.

If I understand correctly you want to build what is missing in the cache and the upload it.
This use case is already supported as described in https://github.com/blender/Rome#listing .

What you want to do is list before building list so:
`rome list --missing --platform ios | awk '{print $1}' | xargs carthage build --platform ios  && rome upload --platform

[2017-05-23 08:38] blender commented on #70
I have opened a PR to enhance the documentation on the CI workflow. Feel free to comment: https://github.com/blender/Rome/blob/fix/ci-workflow-readme/README.md#ci-workflow

[2017-05-23 18:46] ekimia commented on #70
ah this is perfect! Great idea to enhance the documentation.ar

[2017-05-23 21:27] blender commented on #70
@ekimia here is the PR https://github.com/blender/Rome/pull/71, let me know if you have comments.

About exiting with non-zero status from a `download` command there are the following considerations to make:
- exit with non-zero when ANY artifact download fails?
  - each artifact download failure could be encoded as a bit pattern and `OR`ed together in a final error code
    - failing framework: 0

[2017-05-24 01:49] netbe commented on #70
I would be up for

[2017-05-24 02:06] erichoracek commented on #70
I think this really depends on what you consider rome's job to be. In my opinion:

If you perform `rome download` and you get a partial hit, this seems like rome did what you asked to the best of its ability. There is no way that `rome` could have succeeded any more concretely beside there more artifacts being present in the cache, which will never change no matter how many times you run `rome dow

[2017-05-24 07:43] blender commented on #70
I agree with @erichoracek , a miss is just one of the possible outcomes, it's not an exceptional failure that terminates the program execution.

For the time being I'll leave things as they are. If the issue is brought up again I'll consider exiting with non-zero status.

@ekimia please consider closing the issue if the explanations I gave about the CI workflow are enough for you.

[2017-05-27 14:59] bay2 opened #73 "Framework upload to Amazon's S3 failure"
#### Enhancement Suggestion

    [Short description of suggestion]

    **Steps which explain the enhancement**

    1. run `carthage update --platform ios && rome upload --platform ios`

    **Current and suggested behavior**

output：
[code]

    **Why would the enhancement be useful to most users**

    **Rome version: 0.11.0.27
    **OS and version: macOS Sierra 10.12.5

[2017-05-27 21:38] blender commented on #73
Hi, thanks for opening an issue. Does this problem only happen with Alamofire? It seems to be an issue with your S3 bucket. Do you have correct permissions & right credentials? Can you post your Romefile?

[2017-05-28 02:11] bay2 commented on #73
All of the framework has a problem.I try to use the `aws s3 cp Alamofire.framework.dSYM-4.4.0.zip s3://com.sim.carthage/` is a success.

## Romefile
[code]

[2017-05-28 06:23] blender commented on #73
Thanks I will look into it as soon as I am home.

Other debug into that might be useful: Do you have `.aws/config` and `.aws/credentials` or are you using environment variables? Are you using the `[default]` profile? On what region is the bucket?

Can you try a different bucket name? It might be just something stupid like the `. ` in the name.

Just a tip: you don't need the entry in the repositor

[2017-05-29 09:39] blender commented on #73
@bay2 It's definitely not the `.` in your bucket name. Can you tell me if you are using `credential` and `config` files or environment variables?

[2017-05-29 09:40] blender commented on #70
Closing for now.

[2017-05-29 09:40] #70 closed

[2017-05-29 20:14] blender commented on #73
@bay2  I have tried with both environment variables and file credentials with a bucket named `com.sim2.carthage2` I created on `ap-southeast-1` (Singapore)

The bucket policy is the one I pasted above. The ACL for my bucket is Read/Write for `Any AWS Authenticated User` and I see no problem. If I restrict permissions then the error from Rome is `Access denied`.

If you have any more that you can s

[2017-05-30 13:10] bay2 commented on #73
@blender  I'm sorry.I'm a little busy recently didn't see your reply.
My `.aws/config` and `.aws/credentials`
[code]

[2017-05-30 13:17] blender commented on #73
@bay2 do you mind it I try with those?

[2017-05-30 13:27] bay2 commented on #73
Oh, my S3 configuration problem.Thank you for your help.

[2017-05-30 13:27] #73 closed

[2017-05-30 13:28] bay2 commented on #73
@blender Now I uploaded successfully,Thanks

[2017-05-30 13:29] blender commented on #73
@bay2 Great! Can you share your config? Is it any different from what I suggested?

[2017-05-30 14:13] bay2 commented on #73
I created a bucket in the ap-southeast-1 (Singapore) is uploaded successfully.
I created a bucket in the ap-northeast-1 (Tokyo) is uploaded failure.
I not idea...

[2017-06-08 20:59] blender opened #76 "Global well known RepositoryMap"
#### Enhancement Suggestion

Enable Rome to download & read an well know repository map

1. Keep a well know central RepositoryMap on GitHub
2. Enable Rome to download it on demand (perhaps `rome update-well-known [URL]` or default URL)
2. When running `list, download, upload` also the the well known map for framework name resolution

**Current and suggested behavior**

Currently there is no well-

[2017-06-09 04:10] blender opened #78 "Add JSON output format to list command"
#### Enhancement Suggestion

Add the possibility to output the results of the list command as JSON

**Steps which explain the enhancement**

1. Add an optional argument to `list` (perhaps `--print-format=JSON`)
1. Devise a JSON representation for `list` command output

**Current and suggested behavior**

Currently the only output format is a custom text representation

**Why would the enhancement

[2017-06-09 08:12] blender opened #79 "Parallelise list command network calls"
#### Enhancement Suggestion

Speed up `list` command execution

**Steps which explain the enhancement**

Probe caches in parallel for the presence of key.

**Current and suggested behavior**

Currently listing in done sequentially, parallelising execution would improve user experience

 **Why would the enhancement be useful to most users**

Less waiting, more fun :)

[2017-06-28 11:07] ctee-cormant opened #80 "Support for carthage packages that have multiple framework output"
One of the carthage package that we use is XCGLogger and it contains two frameworks:

- ObjcExceptionBridging.framework
- XCGLogger.framework

Rome is able to upload the XCGLogger.framework and symbol files but completely ignores the ObjcExceptionBridging.framework.

    Rome version: 0.11.0.27
    OS and version: macOS 10.12.5

[2017-06-28 12:00] blender commented on #80
Hi, thanks for opening an issue.

This feature is already supported. Refer to https://github.com/blender/Rome#multiple-aliases

Add for your RepositoryMap the following

[code]

[2017-06-29 02:38] ctee-cormant commented on #80
It worked! I have it now on our Xcode 9 server. Thanks @blender!

[2017-06-29 02:38] #80 closed

[2017-07-05 08:27] Zeotyn opened #82 "Different build paths for Xcode 8 and 9"
Hi there,

I'm looking for an option to build and upload different xcode-version builds of the same framework into the same bucket.

This might be possible by storing different buildtypes in subpaths in the same buckets and up-/downloading with a configuration path like:

`rome upload --buildpath DEFINED_IN_ROMEFILE`
`rome download --buildpath DEFINED_IN_ROMEFILE`

The buildpath could simply be de

[2017-07-05 08:37] blender commented on #82
Hi, @Zeotyn

thanks for opining an issue.

This feature does not exist at the moment. I'm assuming that what you really want is not the Xcode Version but rather the Swift version. Is that correct?

[2017-07-05 09:41] Zeotyn commented on #82
Sounds great! I meant Swift versions, sorry.

[2017-07-10 15:20] blender commented on #82
@Zeotyn Please try pre-release https://github.com/blender/Rome/releases/tag/v0.12.0.29

Please report any bugs, if it works as intended I will make a full release.

[2017-07-11 09:02] kaybutter commented on #82
The prefix doesn't seem to be consistently applied to the local cache path. It's used for lookup but the downloaded files are not copied to the right location yet:
[code]

[2017-07-11 09:07] blender commented on #82
@kaybutter thanks, I'll check. I think it might be just a an error in the logs.

[2017-07-11 09:08] kaybutter commented on #82
Nope. It actually overwrote the old cache, that's how I noticed.

[2017-07-11 10:16] blender commented on #82
Good catch,

please try https://github.com/blender/Rome/releases/tag/v0.12.0.30

[2017-07-11 10:38] Zeotyn commented on #82
@blender great and very fast thanks!

[code]

[2017-07-11 10:41] blender commented on #82
@Zeotyn @kaybutter no problem. I'll test a little more and then make a full release via `brew`

[2017-07-11 10:58] blender commented on #82
FYI don't you that tag there is one more bug when uploading `.version` files.  Wait for the full release. It will happen shortly

[2017-07-11 12:20] blender commented on #82
New version is out:

get it at https://github.com/blender/Rome/releases/tag/v0.12.0.31 or run `brew update rome`

[2017-07-11 12:20] #82 closed

[2017-07-24 11:44] vgorloff opened #94 "Rome does not upload framework if dependency name and framework name does not match."
#### Issue

Rome does not upload framework if dependency name and framework name does not match.
---

**Steps to reproduce**

1. Add to the `Cartfile` dependency: `github "ashleymills/Reachability.swift" == 3.0`
2. Build carthage for platform iOS. As Result you will get `Cartfile.resolved` with the contents like `github "ashleymills/Reachability.swift" "v3"`
3. Upload dependencies to S3 using Rome

[2017-07-24 12:17] blender commented on #94
Hi, should be already addressed by adding name aliases in your Repository map.

For Reachability.swift specify

[RepositoryMap]
 Reachability.swift = Reachability

See https://github.com/blender/Rome#multiple-aliases

[2017-07-24 14:34] vgorloff commented on #94
Thank you!

My bad. I did not know/read about *Multiple Aliases*.

Solution is to write `RepositoryMap` like this.

[code]

[2017-07-24 14:51] vgorloff opened #95 "Automatically detect frameworks to upload/download from .version-file."
#### Enhancement Suggestion

Automatically detect frameworks to upload/download from `.version`-file.

**Steps which explain the enhancement**

1. Say you have file `Carthage.resolved` with the following contents `github "facebook/facebook-ios-sdk" "sdk-version-4.21.0"`
2. Dependency `facebook-ios-sdk` produces 3 frameworks during build process: FBSDKLoginKit.framework, FBSDKShareKit.framework, FB

[2017-07-24 14:52] vgorloff commented on #94
I created enhancement #95. Feel free to close this issue.)

Thank you!

[2017-07-24 15:32] blender commented on #94
@vgorloff Thanks! I will updated the documentation to make the Multiple Aliases more obvious.

[2017-07-24 15:32] #94 closed

[2017-07-27 15:14] blender commented on #79
So this is closed! Impressive speed up by @mheinzel  🎉

[2017-07-27 15:14] #79 closed

[2017-08-17 12:18] HKisd opened #100 "Cache bcsymbolmap files"
#### Enhancement Suggestion

Cache bcsymbolmap files

**Steps which explain the enhancement**

1. Upload should upload bcsymbolmap files of framework
2. Download should download bcsymbolmap files framework

**Current and suggested behavior**

Currently bcsymbolmap files seem to be ignored by Rome
There should be a zip archive also for bcsymbolmap files

Carthage archive command makes a zip file wh

[2017-08-17 12:43] blender commented on #100
I see. Any idea how the bcsymbolmap is paired to the framework?

[2017-08-17 13:45] HKisd commented on #100
Carthage uses this command to find the UUIDs for bcsymbolmap files:

/usr/bin/xcrun dwarfdump --uuid Alamofire.framework/Alamofire

[2017-08-20 11:20] blender commented on #100
You can follow the development there: https://github.com/blender/Rome/pull/101

[2017-08-30 07:10] ekimia opened #102 "not reading aws environmental variables"
So it fails, given `~/.aws/credentials` doesn't exist. My build:
https://travis-ci.org/zerofinancial/relay/builds/269878346

    **Rome version:** v0.12.0.31
    **OS and version:** [Enter OS name and version here]

[2017-08-30 08:21] blender commented on #102
Thanks, I'll look into it

[2017-08-30 18:14] ekimia commented on #102
thanks!

[2017-08-30 19:27] blender commented on #102
@ekimia this works for me if I do

[code]

[2017-08-31 18:27] ekimia commented on #102
update on this. Travis is setup properly and the variables do exist in my `build.sh` script. As a workaround I generated the `.aws/config` file programmatically

[2017-08-31 18:31] blender commented on #102
@ekimia but do they exist in `compile.sh` ?

[2017-08-31 19:13] ekimia commented on #102
yup!

[2017-08-31 19:22] blender commented on #102
@ekimia ok Thanks. The problem then seems to be much deeps than Rome.

I'll try to make a minimal experiment and see. Thanks for your understanding and for finding a workaround in the mean time.

[2017-08-31 19:22] ekimia commented on #102
no problem, let me know if you need help

[2017-09-04 20:40] blender commented on #100
@HKisd please try https://github.com/blender/Rome/releases/tag/v0.13.0.32

This one actually took me some time to do.

If no bugs are reported I will promote it to a full release. Please let me know one you have tried.

[2017-09-11 08:30] blender commented on #100
@HKisd did you have the chance to it out?

[2017-09-25 08:02] blender commented on #100
@HKisd any feedback? I'll make a full release in the next few days :)

[2017-10-06 01:33] pt2121 commented on #78
hey @blender, I'll give this a shot.

[2017-10-06 08:32] blender commented on #78
Thanks @pt2121 ! Good luck!

[2017-10-07 20:11] blender commented on #78
@pt2121 Thanks again! Do you use Rome or just wanted to contribute to some hacktoberfest Haskell project?

[2017-10-07 20:39] #78 closed

[2017-10-07 22:37] pt2121 commented on #78
@blender i'm doing hacktoberfest and learning Haskell. Thanks for the beginner label. Super helpful!

[2017-10-09 10:42] blender commented on #100
Done!

[2017-10-09 10:42] #100 closed

[2017-12-14 19:21] c0diq opened #106 "Frameworks with symlinks inside are not uploaded correctly [zlib] [common-crypto]"
#### Issue

Upload fails for certain types of frameworks where the binary inside the framework is a symlink to a version inside the framework.
For example, Starscream for Mac (https://github.com/daltoniam/Starscream). Here's a screenshot:
[http://cloud.plutinosoft.com/oKcN](http://cloud.plutinosoft.com/oKcN)

[code]
**Steps which explain the enhancement**
1. Add github "daltoniam/Starscream" ~> 3.

[2017-12-14 21:13] blender commented on #106
@c0diq Thanks for reporting. Can you paste the relevant part of your Romefile ?

[2017-12-15 06:40] c0diq commented on #106
Romefile
[code]
Cartfile
[code]
Cartfile.resolved
[code]
Starscream dependencies include these two projects which don't have frameworks but are packaged with spm. When trying to import Starscream, I would get the following error:
[code]
which both are defined in Starscream modulemap.
Eventually, somehow, Carthage stopped creating Mac frameworks with internal symlinks and Rome was able to upload it

[2017-12-19 01:12] c0diq opened #107 "IgnoreMap should be ignored when listing rome missing dependencies"
#### Enhancement Suggestion

   When using `rome list --missing`, the projects listed under [IgnoreMap] are skipped thus it is not possible to use it to "checkout" or "bootstrap" dependencies that are not stored in Rome. For example:
"rome list --missing --platform ios | awk '{print $1}' | xargs carthage bootstrap --platform ios --cache-builds"

    **Current and suggested behavior**

    Add a pa

[2017-12-19 08:08] blender commented on #107
Implemented in #108

please try the binary at https://github.com/blender/Rome/releases/tag/v0.13.1.34

[2017-12-19 08:56] blender commented on #106
@c0diq  Unfortunately this is not a bug.

`common-crypto-spm` and `zlib-spm` are not frameworks. They are just llvm module.modulemap wrappers for C libraries so that they can imported into Swift.

If you look closely to the output of `carthage bootstrap` you will see that carthage does not build them. The author of Starscream is (ab)using carthage just to have the repos checked out.

I have the sa

[2018-01-03 10:23] marcpalmer opened #109 "Rome uses error output for non-errors"
#### Enhancement Suggestion

Currently if Rome does not find a dependency or `bcsymbolmap` in the cache it outputs this as an error, and this is particularly ugly when used with Fastlane.

It is just noise in almost all cases I can think of, and is particularly noisy when you do your first Rome  download and when you build only for one platform e.g. iOS where you get all the symbol map errors.

[2018-01-03 18:11] chrispcampbell opened #110 "Include binary-only dependencies in Rome cache"
#### Enhancement Suggestion

Make Rome take `binary` dependencies into account from `Cartfile`.

**Steps which explain the enhancement**

1. Check for `binary` dependencies in `Cartfile` / `Cartfile.resolved`.
2. Take those into account so that they are included in the local Rome cache (so that the network download can be avoided if already cached locally).

**Current and suggested behavior**

It

[2018-01-03 23:23] blender commented on #109
Hi and thanks for opening an issue.

First off, I certainly agree that the output can be improved. Are you ware that you can ask rome to cache by platform using the `--platform iOS|tvOS|mac|watchOS` switch? This should limit the amount of cache misses. This however is not possible with `bcsymbolmap`s. If you know of a way to pair the `bcsymbolmap` with a particular platform I'd be happy to impleme

[2018-01-03 23:26] blender commented on #107
@c0diq Do you have any feedback on the build?

[2018-01-03 23:27] blender commented on #106
@c0diq is this answer satisfactory for you? I'd like to close the issue if you don't mind.

[2018-01-04 08:45] blender commented on #110
Hi, thanks for opening an issue and taking time to suggest an improvement.

I understand the issue and would like to find a solution.
I belive it's doable and I suggest the following.

Consider:

[code]
- rome will strip `.json` from the end of a "binary" dependency. "git" or "github" dependencies will not be stripped.
- __Without__ a `[RepositoryMap]` entry this will make rome  look for `Answers.

[2018-01-04 12:49] blender commented on #110
This was actually easy to implement. No idea why I didn't do it in the first place.

Please try pre-release https://github.com/blender/Rome/releases/tag/v0.13.1.35

Let me know if it works as expected and I will make a full release. I would also be very grateful if you could try the `--no-ignore` flag introduced with #107

[2018-01-05 01:35] c0diq commented on #107
Works great. Thank you!

[2018-01-05 01:43] c0diq commented on #107
Unrelated but is it possible you use a semantic version with only 3 digits? Using 4 digits such as 0.13.1.34 breaks semantic versioning parsing tools that expect only 3. Typically the 3rd one is the build number (your 34).

[2018-01-05 02:26] c0diq commented on #106
Thanks for taking the time to respond. Strangely the problem went away without having to do anything.

[2018-01-05 02:50] c0diq commented on #106
Your fix made it work. What I don't understand is why Carthage (Xcode) doesn't set the modulemap like you suggest.

[2018-01-05 05:45] chrispcampbell commented on #110
Thank you for the fast turnaround, this all looks great!

I'm happy to report that I tried out v0.13.1.35 and it works as advertised for our binary dependencies.

I also added an `[IgnoreMap]` just for testing purposes and tried it out with the new `--no-ignore` flag and that also seems to be working correctly.

[2018-01-05 07:54] blender commented on #106
Yes this is a big problem and you're not alone. I am sorry but I can't assist you further as I as well am affected by the same issue. If you find a solution please let me know as well :(

[2018-01-05 09:30] blender commented on #110
Implemented.

[2018-01-05 09:30] #110 closed

[2018-01-05 09:34] #106 closed

[2018-01-05 21:48] chrispcampbell opened #112 "Symlinks not preserved"
#### Issue

This issue sounds similar to #106, but that ticket seemed to cover a different scenario, so I figured I'd file this as a separate issue.

I just updated our macOS build to use Rome and found that the build would break in code signing, but only in the case where binaries are copied in from Rome's local cache.  (The build was successful when using artifacts produced directly by Carthage.

[2018-01-08 09:26] blender commented on #112
Sounds like a bug. I'll try to fix it asap.

[2018-01-11 14:24] blender commented on #112
Ok, small update:

- I haven't forgot this.
- this is an issue with the zip library
- I'm trying to patch the zip library (you would not believe how messed up zip is)
- if I don't succeed I will just used zip form the command line

[2018-01-12 13:16] blender commented on #112
@chrispcampbell  Please try pre-release https://github.com/blender/Rome/releases/tag/v0.14.0.36

I haven't tried to build but the contents of the archive seem to preserve symlinks

[2018-01-16 11:55] blender commented on #112
@chrispcampbell any feedback on this?

[2018-01-16 18:56] chrispcampbell commented on #112
Thanks for the fix, I will try it out today and will let you know!

[2018-01-17 06:16] chrispcampbell commented on #112
@blender I tested with v0.14.0.36.  The good news is that it appears to *partially* preserve symlinks when doing a `rome upload` to the local Rome cache.  Like, after a `rome upload` I can unzip a zip file (in Finder) in the Rome cache and see that the unzipped contents contain symlinks.  So, that's a start.

However, when I clear out my `Carthage/Build` directory and then do a `rome download` for

[2018-01-17 07:12] blender commented on #112
I think I know why. Thanks for testing. Back on it.

[2018-01-17 11:42] blender commented on #112
@chrispcampbell

please try https://github.com/blender/Rome/releases/tag/v0.14.0.37 I have fixed CRC32 errros and I see no issue with the upload/download flow.

[2018-01-17 17:17] chrispcampbell commented on #112
@blender I just tried v0.14.0.37 and can confirm that the CRC32 errors are fixed.  Thanks again for the fixes!

[2018-01-17 17:32] chrispcampbell commented on #112
@blender I just tried again and can confirm that `rome upload` does seem to preserve the symlinks (unzipping the zip file from the Rome cache shows correct symlinks with no CRC errors), but now the `rome download` step is back to not creating the symlinks when the thing gets unzipped into `Carthage/Build`.  Any ideas?

[2018-01-17 17:54] chrispcampbell commented on #112
@blender Here's the output of the `unzip` (for a cached zip file that was created with v0.14.0.37):

[code]

And a listing of the unzipped content:

[code]

Looks like it could be a permissions issue?

[2018-01-17 21:01] blender commented on #112
Strange. I'll investigate.

[2018-01-17 21:02] blender commented on #107
@c0diq i'll close this issue. Please open another one for the version number.

[2018-01-17 21:02] #107 closed

[2018-01-19 01:21] c0diq commented on #106
I'd like to reopen this because I think there's still an issue. The framework that Rome packages and uploads to cache is not what Carthage built when it contains symlinks. If you run
`carthage build archive` you can see that the zip file generated for the (OSX) framework contains symlinks. However the version uploaded to cache `rome upload` does not.

[2018-01-19 01:23] c0diq commented on #106
Ooh it appears to be a known issue https://github.com/blender/Rome/issues/112! Great.

[2018-01-22 18:45] chrispcampbell commented on #112
@blender Have you had a chance to look into the permissions issue?

[2018-01-22 21:00] blender commented on #112
Yes, I have address it in the zip library. Will make a build asap.

On Mon, Jan 22, 2018, 19:46 Chris Campbell <notifications@github.com> wrote:

[2018-01-22 22:51] blender commented on #112
@chrispcampbell  here you go https://github.com/blender/Rome/releases/tag/v0.14.0.38

I have tested:
- upload, extraction via `unzip` and have seen no issue from CLI
- download, permission and symlinks are preserved

Let me know if it works for you as well and I will make a full release

[2018-01-23 00:29] chrispcampbell commented on #112
@blender I tried v0.14.0.38 and can confirm that everything appears to be working correctly now.
I tried upload, download, and manual `unzip` extraction and symlinks were created correctly without permission issues. Thank you!

[2018-01-23 00:55] blender commented on #112
Thank you for the patience! I'll make remove the draft tag from the release and update brew too.

[2018-01-23 00:56] #112 closed

[2018-01-23 00:57] blender commented on #106
@c0diq #112 is closed now. Please let me know if you find any issues with https://github.com/blender/Rome/releases/tag/v0.14.0.38

[2018-01-23 13:47] kaybutter opened #114 "Error when downloading framework to cache"
I recently updated from Rome v0.12.0.31 to v0.14.0.38 and can't properly download frameworks from cache anymore. Downloading directly from S3 works after clearing the cache. As soon as I try to get the frameworks from cache afterwards it fails again, though:

[code]

I checked the cache and there is no framework in the zip; only a bcsymbolmap file.

The files on S3 on the other hand look fine. Fro

[2018-01-23 14:33] blender commented on #114
@kaybutter Thanks for reporting, let me have a look

[2018-01-23 15:19] blender commented on #114
@kaybutter Yep, found it. Releasing a fix.

[2018-01-23 15:58] blender commented on #114
@kaybutter  please try https://github.com/blender/Rome/releases/tag/v0.14.1.39 and let me know. Make sure the framework on S3 is correct.

I have tested and found that the problem is fixed

[2018-01-23 18:14] kaybutter commented on #114
@blender That did it. Thx for the quick fix :)

[2018-01-23 18:16] #114 closed

[2018-01-26 05:48] chrispcampbell opened #116 "Add support for rsync and/or scp"
#### Enhancement Suggestion

Add support for using `rsync` and/or `scp` (or similar) to move files between the local Rome cache and a remote (privately hosted) file store.

For example:
[code]

#### Current and suggested behavior

Currently only Amazon's S3 is supported as remote storage. Supporting `rsync` and/or `scp` would allow for using existing in-house storage infrastructure.

#### Why woul

[2018-01-26 08:29] blender commented on #116
Hi,

Thanks for your suggestion. I will look into how to make this possible. Probably starting with scp.

[2018-01-30 10:53] blender commented on #116
@chrispcampbell so this is more tricky than I though as it requires to support listing as well which does not come out of the box with scp.

So there is really 2 alternatives here:
- write an scp client that supports so ( I think this might be interesting but an uphill battle)
- treat any error from scp while listing as "file not found"

[2018-01-30 22:23] chrispcampbell commented on #116
@blender Thanks for looking into this.  Yeah, I'm not sure there's a way to list via `scp`.  However, `rsync` does support this, so maybe that would be a better option?  For example:

[code]

[2018-01-30 23:15] blender commented on #116
It's probably easier with `rsync`, but at the end of the day it's still hard to tell if something went wrong while running the command (scp, or rsych) or if the file is actually missing.

I've done more exploration around scp so it'll try with that somehow.

My plan so far is to make remote caches mutually exclusive for now. This means you can't have a remote cache on S3 and an scp cache.

In the

[2018-04-25 17:10] leonid-s-usov commented on #76
Isn't it possible to parse the actual project files in order to extract the target names and avoid the manual mapping altogether?

[2018-04-26 09:41] leonid-s-usov commented on #76
Thank you for the detailed response!

Indeed my question was upfront naive, but at the same time I still feel there is a place for improvement. This mapping looks to me quite a bummer to do manually given the overall idea of the tool to be transparent (as I would love to see it) to the whole build process. Looking at my own Cartfile I see at least `realm-cocoa` which would generate Realm and Realm

[2018-04-26 10:37] leonid-s-usov commented on #76
Good, so we are on the same page. Like I stated, I believe this information about mapping should be feasible to generate and consume without the user's intervention.
If uploaded to the remote cache I am thinking that maybe the fine should not be even created in the code repository at all, just as some version metadata at the known path in the repository. Could be even combined with the carthage ve

[2018-04-26 10:51] blender commented on #76
@leonid-s-usov Have you seen this issue: https://github.com/blender/Rome/issues/95

This suggests using the `.version` file information but that would mean that Rome would only work if you use carthage with --cache-builds so I'm not so adamant on the idea. Maybe I'm too cautious.

Can you elaborate on this? What do you mean by  "just as some version metadata at the known path in the repository"

[2018-04-26 11:12] leonid-s-usov commented on #76
What you said,

and what I said earlier, as well

all this is about the fact that the mapping metadata may be uploaded to the repository by the process which initially pushes all data there (or updates), and then consumed by other clients. Not even necessary to have this mapping committed to the source code as the suggested `rome.resolved` alongside the `rome.ini`. I just used the naming conventio

[2018-04-26 11:16] leonid-s-usov commented on #76
yep, that issue #95 is exactly to the point!
what do you think of maybe making the rome tool call carthage on the user's behalf and make sure that the flags are set correctly? The local cache could actually be used directly be carthage. I did this in my project by creating a symlink of ./Carthage -> /path/to/local/carthage/cache

[2018-04-26 12:47] blender commented on #76
The problem with #95  is that `.version` files are ALSO part of the cache. So can't use them for mapping.

`.version` files tell carthage not to rebuit downstream depedencies found already built in `Carthage/Build`, that's all it's does.

Rome is not supposed to call cathage because there is nothing to set correctly :\

I'm not sure why you're doing `/Carthage -> /path/to/local/carthage/cache` thi

[2018-04-26 13:04] leonid-s-usov commented on #76
I'm doing this _because_ i'm not using rome - yet 😄  .
And that's the reason why I'm here, because I was looking for some solution

Not sure I get it.. why can't the tool use files from the repository prior to making the decision? That is, download the small metadata file (maybe just the version files themselves, if --cache-builds is used) and use it to understand the mappings and then move on wit

[2018-04-26 13:14] blender commented on #76
@leonid-s-usov You seem to be onto something better than I can think of at the moment so here is the challenge for you to solve:

- If there are no .version files, game over. No mapping possible atm and we all agree on that.
- If there are version files:
  - How do does the upload process to cache look like
  - how does the download process look like

[2018-04-26 13:15] leonid-s-usov commented on #76
Thanks for this question, i will try to elaborate later tonight.

[2018-05-03 12:46] astromoose opened #118 "Add support for S3 Bucket URL"
## Enhancement Suggestion

Afternoon,

I'd love to use Rome but can't use S3 for big-silly-company reasons. I can, however set up a Minio (https://docs.minio.io/) instance locally which is basically an S3 compatible object store that runs within a docker container.

Getting rome to work with Minio would mean supporting an s3 url in `.aws/config` rather than a region. Something like:

[code]

**Why

[2018-05-03 12:54] blender commented on #118
Can you share parts of the file system between host and minio?

If so you can just use `local`

[2018-05-03 13:00] astromoose commented on #118
Thanks for getting back to me so quickly! I'd already considered local/shared storage via smb/nfs.

We've got about ~40 developers using Carthage.

S3/Minio fits our needs a lot better as then we don't need to set up client shares on those 40 machines all over the world, we can just distribute S3 key/secrets per team.

[2018-05-03 13:02] blender commented on #118
What does it mean that minion is compatible with S3? The project uses a haskell equivalent of the amanzon SDK, thus it expects a region to operate.

[2018-05-03 13:05] blender commented on #118
You seem to be in luck anyways https://hackage.haskell.org/package/minio-hs

[2018-05-03 21:04] blender commented on #118
@astromoose please try pre-release https://github.com/blender/Rome/releases/tag/v0.15.0.40

If it works as you expect, I will merge and make a full release.

Can I have the pleasure of knowing what company this is for and add it to the list of companies using Rome (if you end up doing so)? Doesn't seem like a business sensitive information to me.

You know... I just worked for free for your employ

[2018-05-04 05:41] astromoose commented on #118
Awesome, thanks! I’ll get Rome integrated in our CI today.

I work for Daimler TSS. When we’re saving time on builds you’re more than welcome to mention us on the list! I’ll let you know :)

[2018-05-04 05:53] blender commented on #118
Cool, @astromoose

follow the instructions here: https://github.com/blender/Rome/tree/feature/minio#setting-up-endpoint-override-for-minio

[2018-05-04 10:12] astromoose commented on #118
Hoi hoi, looking very good but not quite there. `rome` can talk to the minio instance but is erroring on upload:

[code]
I'll check these errors aren't related to minio running in a docker container though, those connection resets look weird.

[2018-05-04 10:14] blender commented on #118
I have tried with the public instance at https://play.minio.com:9000 and both upload and download work. You have to create the bucked in minio first.

[2018-05-04 10:15] astromoose commented on #118
((OT: I love the release names, tell me you have some kind of random 'Consul of Rome' generator or something? :D))

[2018-05-07 11:43] blender commented on #118
@astromoose  did you have any chance to check your Minio setup?

[2018-05-08 12:09] astromoose commented on #118
Hoi @blender - still working on it. I'm seeing problems with calculated sha256's on file uploads, which deffo looks like minio issues.

Will keep you posted :) 👍

[2018-05-08 12:11] blender commented on #118
@astromoose  please do.

[2018-05-15 16:54] rob-nash opened #120 "Support for Bintray"
Hi,

This solution is pretty cool. Setting up Amazon S3 looks scary though. Something like bintray might be cool?

https://bintray.com/

[2018-05-16 21:11] blender commented on #120
@rob-nash I took a look at Bintray and I have few questions I could not find an answer to.

- Bintray's Authentication requires Username/APIKey. Is there a standard location to store these? like `~/.bintray/credentials`
- Bintray's repos are namespaced with `:subject`.
[code]
 I guess this value should be configurable rather than just take the username of the current user?

I don't have access to

[2018-05-17 07:38] rob-nash commented on #120
Hi there.

I am new to Bintray myself. I setup an open source account yesterday and uploaded some binaries via their API. Seems pretty good.

Open source accounts are free. I think I need to accept a EULA before I attempt my first download of one of these binaries. I'll get back to you on that.

<img width="1018" alt="screen shot 2018-05-17 at 08 30 46" src="https://user-images.githubusercontent.c

[2018-05-17 08:18] rob-nash commented on #120
If I attempt to download one of these binaries myself with

[code]

I don't need to accept a EULA.

The repo is public so I think someone attempting to download this without a Binary account, might get an error code and must accept a EULA, beforehand.

It might be easier to mention in README

1. create a free account
2. accept EULA
3. use Rome

[2018-05-17 08:32] blender commented on #120
Hi,

The cache structure that Rome uses is not quite what you have there, so I'll explain to understand if this is fine also for Bintray.

`.dSYM`, `.framework`, `.version`, `.bsymbolmap` are handled separately. They are zipped separately and stored at separate locations. Locations where artifacts are stored follow some conventions derived from the Cartfile.resolved.

See https://github.com/blende

[2018-05-17 08:39] rob-nash commented on #120
The 'file_path' parameter can specify any path. So for instance, I currently have one file located under /iOS

<img width="774" alt="screen shot 2018-05-17 at 08 31 14" src="https://user-images.githubusercontent.com/14126999/40166116-ae0b4576-59b5-11e8-8d8f-fbb0a7081242.png">

But I guess there is no harm is building any file structure you want, inside the bintray repo.

Could we not just create o

[2018-05-17 08:47] blender commented on #120
Cool! I'll play some more around and see that I can do.

The reasons for not having one zip are:
1. Have the version file accessible ahead of downloading the binary (the version file is like a manifest)
1. Allow upload/download of resources separately
1. Don't have to replace the whole zip if one file is missing

[2018-05-17 20:31] blender commented on #120
@rob-nash When you uploaded your binaries, what did you use as `version` in the api?

In my idea this would be the version state in the `Cartfile.resolved` of the library you're trying to upload.

What is the point of `version` ? I don't see how it's used in the download API.

[2018-05-17 21:44] rob-nash commented on #120
**Upload**

Set a header in your request

[code]

**Download**

In the above example `Dequable` is a package.

[Get package](https://bintray.com/docs/api/#_get_package) will give you the available `versions`.

[Get Version Files](https://bintray.com/docs/api/#_get_version_files) returns the files found for that version.

[2018-05-17 22:18] blender commented on #120
So what version is at https://dl.bintray.com/rob-nash/BinaryDump/iOS/dequable.zip ? Where is the package information here?

I find this service very confusing in general, or at least confusing to use given how Rome works.

Rome has to go from a `Cartfile.resolved` like this

[code]
to upload/download locations in Bintray

The upload API is:

`PUT /content/:subject/:repo/:package/:version/:file_pat

[2018-05-18 06:40] thii commented on #118
By the way, when I added the config file, it still couldn't download from our remote cache.
[code]

We are currently using Rome for the local cache only and use `s3cmd` to sync with our object storage.

[2018-05-18 07:01] blender commented on #118
@thii Sorry `AWS_ENDPOINT` is not supported, but I can add it if we all think it's a good name (doesn't appear to have a proper variable name in AWS CLI tools docs). I think it's a good name. `AWS_REGION` should be supported.

Could you tell me what S3 compatible cache you're using so that I can add it to the docs once this works?

[2018-05-18 07:07] thii commented on #118
@blender From what I know, we're using [Ceph](https://ceph.com/ceph-storage/object-storage/).

[2018-05-18 07:12] blender commented on #118
@thii so turns out `AWS_REGION` is not supported as env variable.

I'll add both `AWS_REGION` and `AWS_ENDPOINT`

[2018-05-18 07:18] rob-nash commented on #120
You have a lot of work and Bintray looks like quite a bit of effort. Let me see if I can build a small wrapper for Bintray, deployable as a cross-platform executable.

It might take me a while, so you might want to close this ticket for now.

If I am successful, I will re-open this ticket, so you can take a look at my work and assess if it is suitable for Rome.

What you think?

[2018-05-18 10:31] rob-nash commented on #120
Looks like there is already a wrapper 👍

Phew!

https://www.npmjs.com/package/bintray

[2018-05-18 13:31] blender commented on #120
If I understand correctly you're idea is to have 1 `:repo` where each  dependency in the Cartfile.resolved is a package.

So, in practice, given the following Cartfile.resolved
[code]

where ios-rest.git resolves to 2 targets Rest.framework and `Helper.framework`

It would translate to:

[code]

So, puts are solved.

How about Gets?

Should the flow be:
- get package
- get version
- get final URL

[2018-05-19 20:17] rob-nash commented on #120
Hi. Sorry for delay.

Yes, I believe it should be as you say. Perform get 1, perform get 2, then build URL.

[2018-05-22 14:21] blender opened #121 "Support environment variables for AWS Region and AWS Endpoint override"
## Enhancement Suggestion

    Add  support for environment variables for AWS Region and AWS Endpoint override

**Steps which explain the enhancement or reproduce the bug**

1. Read the `AWS_REGION` variable from the environment
2. Read the `AWS_ENDPOINT` variable from the environment
3. Use them when communicating with relevant AWS services (S3 or the like)

**Current behavior**

    Rome does no

[2018-05-22 14:26] blender commented on #118
@thii a pre-release that supports both env variables is available here https://github.com/blender/Rome/releases/tag/v0.15.0.41

Please let me know if this works and I will make a full release.

[2018-05-22 15:03] thii commented on #118
@blender Looks like it does pull the config values from the env vars instead of the config file, but it still returns an `Unexpected Error` when trying to download from our cache storage.

[2018-05-22 15:27] thii commented on #118
[code]

[2018-05-23 05:07] thii commented on #118
@blender It works now, after I explicitly specified the port to 443. Seems it fallbacks to port 9000 if not being specified, even though the endpoint starts with `https`. I suggest trying to get the port from the endpoint first before falling back to the default one.

[2018-05-23 05:15] blender commented on #118
That is was i was doing but clearly it's not working :) I'll fix that

[2018-05-23 05:55] blender commented on #118
@thii Can you please try this? https://github.com/blender/Rome/releases/tag/v0.15.0.43 it should fix the default port for `https` if no port is speficied.

I'll promote this to a full release and merge if it works.

[2018-05-23 07:59] thii commented on #118
@blender It works! Thanks. Please release.

[2018-05-23 08:10] blender commented on #121
Done

[2018-05-23 08:10] #121 closed

[2018-05-30 04:04] thii opened #125 "Rome crashes when downloading cache from remote - Zero bytes Archive"
## Enhancement Suggestion / Bug Report

Rome crashes when downloading cache from remote.

**Steps which explain the enhancement or reproduce the bug**

I'll try to make a sample project that reproduces that crash, here is the crash log:

[code]

**Current behavior**

Rome crashes when downloading cache from remote.

**Suggested behavior**

Not crash.

**Why would the enhancement be useful to most

[2018-05-30 06:03] blender commented on #125
Can you run with `-v` ? Is it possible you have a 0 byte archive?

From the messages it seems that the download was successful, the next step would be deleting the framework in `Carthage/Build/<platform>/MyFramework.framework` before copying the new one.

[2018-05-30 06:38] thii commented on #125
One of the framework in local cache was a 0 byte archive, probably because of the upload command fails. Here is the log of the upload command.

[code]

[2018-05-30 06:50] blender commented on #125
I see.

To double check please run the download command with `-v`, it should try to show some download progress.
If it does show the progress, that then this might have to do with the unzipping.

I'm trying to nail down which part does not like a 0 byte archive.

[2018-05-30 07:02] thii commented on #125
I uploaded all the cache to remote manually via the web interface, so now the download command works. But could you take a look at the error while uploading? There is an error on "SignatureDoesNotMatch", but I could upload with s3cmd using the same AWS key/secret.

[2018-05-30 07:05] blender commented on #125
I found this: https://stackoverflow.com/questions/10281557/signaturedoesnotmatch-amazon-s3-api

s3cmd is probably using another profile than rome for the access key.

[2018-05-30 08:18] blender commented on #125
Other possible causes https://github.com/aws/aws-cli/issues/602#issuecomment-50940587 and what reported in https://github.com/aws/aws-cli/issues/602

[2018-05-30 08:55] blender commented on #125
They signing procedure is the same I guess but obviously what is signed is different as the upload contains a ton more headers:

put: https://hackage.haskell.org/package/amazonka-s3-1.5.0/docs/Network-AWS-S3-PutObject.html
get: https://hackage.haskell.org/package/amazonka-s3-1.5.0/docs/Network-AWS-S3-PutObject.html

I suggest the following:
- try with a different key/secret pair. I have (+) in my

[2018-05-30 09:08] blender commented on #125
Relevant? https://ceph.com/planet/ceph-rgw-aws4-presigned-urls-working-with-the-minio-cloud-client/

[2018-05-30 09:12] blender commented on #125
Also list of issue in Ceph relating to `SignatureDoesNotMatch` http://tracker.ceph.com/search?utf8=%E2%9C%93&issues=1&q=SignatureDoesNotMatch

[2018-05-30 09:27] thii commented on #125
Might be a Ceph issue. I'll report to the storage team and get you posted.

[2018-06-05 18:08] blender commented on #125
@thii  any luck?

[2018-06-07 23:53] LesterTheTester opened #126 "Allow un-authententicated download access to S3 repository"
## Enhancement Suggestion

Allow unauthenticated access to S3 for downloading dependencies

**Why would the enhancement be useful to most users**

An administrator could setup an S3 bucket that's read-accessible to the public, or under certain ACL conditions (IP, VPC, etc) that do not require AWS credentials.  This would allow end users to consume dependencies without needing AWS credentials.  At

[2018-06-09 08:19] blender commented on #126
@LesterTheTester seems like a good idea. Do you want to give it a shot?

[2018-06-10 17:07] fabb opened #127 "Prefix by Swift Version by Default"
## Enhancement Suggestion

Currently it‘s the responsibility of the client to add a prefix with the correct Swift version. Would it be thinkable to make Rome do that by default without having to provide the prefix manually? This other caching tool does it as well: https://github.com/Wolox/carthage_cache

[2018-06-10 19:06] blender commented on #127
Off the top of my head I would say I'm not very keen on embedding any swift specific logic since the cache prefix is global for all frameworks even if objective c.

Also if this would be implemented then I would expect Rome to check that all frameworks are built with the same version or are objc frameworks.

I'm not so keen on imposing all these restrictions just to avoid some discipline on the co

[2018-06-10 19:44] fabb commented on #127
Ok I see. Then maybe we‘ll just write guidelines for everyone on our distributed teams to follow the same prefix conventions. We have around 100 ios devs working on different products, but with partially overlapping dependencies, would be nice if we could share a common Rome cache server.

[2018-06-11 02:48] thii commented on #125
@blender Still haven't figured out so I switched back to using `s3cmd` for the upload part.

[2018-06-11 07:11] blender commented on #125
That's a shame. I will see if I can manage to install ceph via docker and try myself.

[2018-06-11 15:19] blender commented on #127
Since you're using Rome to download you can just use the current swift version like this:

[code]

[2018-06-13 12:49] #127 closed

[2018-06-19 13:28] blender commented on #125
@thii I have update the AWS library, can you try https://github.com/blender/Rome/releases/tag/v0.16.0.44

[2018-06-19 13:53] thii commented on #125
@blender Still the same error.

[2018-07-08 17:23] Marus opened #131 "Not downloading existing bcsymbolmap files"
## Bug Report

When attempting to use Rome currently with Carthage for an iOS project the bcsymbolmap files that are presented, and uploaded, do not get downloaded.

**Steps which explain the enhancement or reproduce the bug**

1. Create a Cartfile that has one an iOS dependencies. In my testing I used:
    `github "Alamofire/Alamofire" ~> 4.7`
2. Build the iOS libraries with Carthage (e.g. `carth

[2018-07-08 18:21] blender commented on #131
Thanks, I will look into it.

[2018-07-09 09:44] blender commented on #131
Please try: https://github.com/blender/Rome/releases/tag/v0.16.0.45 issue should be fixed.

Can I add your company to https://github.com/blender/Rome#who-uses-rome ?

[2018-07-09 11:43] Marus commented on #131
That seems to fix the issue - thanks.

Not using it within the company I work for currently - just been trying things out on some of my own projects. Although in the future I'd like to see us move away from CocoaPods to something like Carthage + Rome (although I still think the name is an odd choice; Rome was the enemy of Carthage, not a helper ;)). If we do adopt it maybe then.

[2018-07-09 11:46] blender commented on #131
@Marus I'll make a full release this week with the fix included. This will happen as soon as I finish implementing support for carthage 0.30.1 Static Frameworks

[2018-07-09 11:49] Marus commented on #131
Thanks - I'll use this release for the time being for my experiments. Looking forward to the static frameworks release as well - as I plan to start experimenting with that soon.

[2018-07-09 14:49] Thiryn commented on #131
I would add that with 0.15.0.43 a download with local cache generates errors with `bcsymbolmap` files :
`Error: could not find Alamofire.85164539-C664-3315-8D1F-F63F67662D6C.bcsymbolmap in local cache at : /Users/djolivald/Library/Caches/Rome/Alamofire/iOS/85164539-C664-3315-8D1F-F63F67662D6C.bcsymbolmap-4.7.2.zip`
or when downloading for first time :
`Error: no such file Carthage/Build/iOS/08FF02

[2018-07-09 14:55] blender commented on #131
@Thiryn  do you see this happen with https://github.com/blender/Rome/releases/tag/v0.16.0.45 as well?

[2018-07-09 15:07] blender commented on #131
🤦‍♂️  `08FF025B-F161-3B9B-83B1-28197ED791DC`

[2018-07-09 15:09] blender commented on #131
Seems to work fine for me. Some of the errors you see are because there is no bcsymbolmap for some architectures (`i386`, `x86_64`)

[2018-07-09 16:02] blender commented on #126
@LesterTheTester I think it's enough to launch rome like so:

`AWS_ACCESS_KEY_ID="" AWS_SECRET_ACCESS_KEY="" rome download`

[2018-07-10 10:10] Thiryn commented on #131
Sorry, I just took the time to build it for the version you asked, I still have exactly the same messages.
If I simply run it with one dependency:
[code]

[2018-07-10 10:16] blender commented on #131
Thanks!

I'll try with Quick. I see that symbolmaps are not uploaded to begin with. Maybe there aren't any.

[2018-07-10 10:44] blender commented on #131
@Thiryn Quick doens't produce bcsymbolmaps.

Rome says "Error" but what it means is just "Cache miss"

[2018-07-10 10:52] Thiryn commented on #131
Well, if quick does not produce bcsymbolmaps, it means none are uploaded, then why is Rome trying to get them on downloads ?

[2018-07-10 10:54] blender commented on #131
Because there is no way to know it dosn't produce bcsymbolmaps

If you can think of way I would be happy to discuss it

[2018-07-10 11:12] Thiryn commented on #131
Owh! I see, then maybe indicating a cache miss instead of an error, as there is no error from Rome, just an non-existing file. And maybe even showing it only on verbose, I don't know if the cache-miss information has value without verbose.

[2018-07-10 11:14] blender commented on #131
Point taken. Thanks for the input!

[2018-07-10 11:16] Thiryn commented on #131
Happy to help! :p

[2018-07-10 15:29] blender commented on #125
@thii I just had this error with Minio, I updated the version I was using and It went away.

I strongly suspect this is a problem with Ceph and I think they share some common lib.

[2018-07-30 16:12] #131 closed

[2018-08-01 00:21] c0diq opened #135 "Rome incorrectly assumes supported platform"
## Enhancement Suggestion / Bug Report

Rome assumes a platform is missing for projects that can only build certain platform. In the Rome documentation, HockeySDK-iOS is used as an example in the RepositoryMap to tell Rome that the framework name generated is not the same as the project name. However if one is also to depend on HockeySDK-Mac which generates the same framework name, Rome will incor

[2018-08-01 06:29] blender commented on #135
Thanks for opening an issue.

The current behavior is intended (I don't mean it's right, I mean that I am aware that this can happen).

The idea is that when listing you know what platform you're listing for. You also know what frameworks are required by each platform, so you can take action on rome's reports an ignore false positives like HockeySDK-iOS missing for Mac.

I think I can ~hack~ exten

[2018-08-01 09:46] c0diq commented on #135
Thanks for the answer. The problem is that your example of piping `rome list --missing` into `rome upload` is made more difficult now if you need custom logic to remove false positives.

I do like the idea of moving to yaml files.

[2018-08-01 09:50] blender commented on #135
Yeah i like yaml too, but it's not something i can implement in a reasonable time to help you out.

So basically you have 3 choices:

1. Wait
2. Help
3. Put a script in the middle.

[2018-08-06 10:40] blender commented on #135
Step 1 #138

[2018-08-06 16:50] blender commented on #135
Yaml version looks like this

[code]

[2018-08-09 10:35] michallaskowski opened #139 "Support Nexus repository"
## Enhancement Suggestion

We are using Nexus with LDAP access for maven and other artifacts. It would be nice if we could use Nexus for Carthage artifacts. I did a bit of investigation and was able to upload a zipped artifact with a simple authenticated HTTP PUT, and download it with HTTP GET. Was testing with Nexus 2, it is possible Nexus 3 has a different API.

**Steps which explain the enhance

[2018-08-09 10:42] blender commented on #139
Can you share a link to Nexus? There is already an open issue for Bintray which I was planning to support #120

I am willing to accept the enhancement as long as it does not change the cache structure.

https://github.com/blender/Rome#cache-structure

Yu can try rome with a local cache if the document doesn't answer all the questions about the structure and you will see how files are stored (dynam

[2018-08-09 10:52] blender commented on #139
@michallaskowski If you plan to start coding please use this branch https://github.com/blender/Rome/tree/feature/romefile-yaml  as it will be soon merged to master.

[2018-08-09 10:55] michallaskowski commented on #139
I think that's ok, sorry I missed the cache structure format before.
Nexus 3 upload doc: https://support.sonatype.com/hc/en-us/articles/115006744008

Nexus 2: https://support.sonatype.com/hc/en-us/articles/213465818

Direct deploy is the interesting part. For Nexus 2 the path is
`/nexus/content/repositories/<repository-with-prefix>/<cache_structure_path>`

For Nexus 3 it is just:
`/repository/<rep

[2018-08-09 11:01] blender commented on #139
I think what you want is:

`/repository/<bucket-name>/(prefix)/<cache_structure_path>`

in yaml, where bucket-name == carthage-cache:

-cache:
 nexus2: carthage-cache
 nexus3: carthage-cache

[2018-08-13 13:07] joshfriend opened #142 "Where is version 0.17.0.47?"
## Enhancement Suggestion / Bug Report

There are multiple references in the README/wiki docs to versions after 0.17.x.x, but none actually exist.

**Steps which explain the enhancement or reproduce the bug**

1. Set up project as described in README with `Romefile` in yaml format
2. run `rome install`
3. Get this error: `Error while parsing Romefile: Could not find section: "Cache"`

**Rome versi

[2018-08-13 15:39] blender commented on #142
It's coming, there are no new features or differences between 0.16.0.46 and 0.17.x.x as of yet (unless you want to migrate the Romefile to `YAML` for some reason)

If you need the old docs there is a link to the wiki in the new docs. Here is the link anyways https://github.com/blender/Rome/wiki/Romefile-prior-0.17.x.x

[2018-08-14 15:34] thii opened #143 "Support multiple configurations per project"
## Enhancement Suggestion

Support multiple configurations (Romefile) per project and allow specifying which configuration it uses for each run.

**Steps which explain the enhancement or reproduce the bug**
N/A

**Current behavior**

Rome currently only support one configuration per project, which it takes from the Romefile in the project root directory.

**Suggested behavior**

Other than the cur

[2018-08-14 15:59] blender commented on #143
Sounds good.

[2018-08-14 19:48] blender commented on #135
Please try https://github.com/blender/Rome/releases/tag/v0.17.0.47

The binary is attached. Feedback is greatly appreciated. I will add integration tests in the following days.

[2018-08-16 14:27] TeddyMalfroy opened #145 "Proxy Error - Connection Refused"
## Enhancement Suggestion / Bug Report

I have a problem with my Ruby script, the script works on a "normal" connection but not in my enterprise with proxy. however it is well configured on my terminal, Help me please !!

[2018-08-16 16:04] dflems opened #146 "Support synchronizing with a custom script / executable"
Until support exists for more storage systems, the only options for using Rome are S3 and the local cache. For security and other reasons, we can't easily use S3 with our current setup. I propose that Rome adds support for synchronizing using a custom script or executable with a well-defined interface. A status code of `0` would indicate success and standardized error codes could indicate other st

[2018-08-16 19:04] blender commented on #145
Hello, thanks for opening a issue.

What ruby script are you referring to? Rome is not a ruby script.

What do your proxy settings look like?

[2018-08-16 19:14] blender commented on #146
Hello,

thanks for opening an issue.

You can use [Minio](https://www.minio.io/) or [Ceph](https://ceph.com/ceph-storage/object-storage/), or any other S3 compatible store. You don't have to forcibly use S3.

Nevertheless this is a good idea.

Rome supports a variety of switches, including:
- `--platform` (restrict operations to the specified platforms)
- `--cache-prefix` (a prefix to append to th

[2018-08-16 19:50] blender commented on #146
For example the scripts can be called with:

- the current executing command: one of `upload` , `download` or `list`
- all the parameters rome was called with

as parameters to the script:

eg. `./my-custom-sync-script.sh download --cache-prefix somePrefix -v --platforms ios,mac`

the script would then:
- read from `stdin` the JSON representing the data
- write to `stdout` write output data

This

[2018-08-16 22:31] dflems commented on #146
Forwarding the original args makes sense, as does stdout/stderr.

We have a filestore service (sadly not S3 compatible) that is by default read-only on our VPN or office network, and CI machines are credentialed to write to it. That seemed like the ideal producer/consumer flow, but we need something like this script-runner support to handle it.

Another solution could be a transparent pass-through

[2018-08-16 22:45] dflems commented on #146
Another option that could suit our needs (and maybe others) is simple HTTP GET/PUT/HEAD with optional credentials.

In this case, you would provide a base URI, for example `https://my.server/base`. If you wanted to upload the file `foo/bar/baz.zip`, the URI you would interact with would then be `https://my.server/base/foo/bar/baz.zip`.

* `list` command would make `HEAD` request
* `download` comma

[2018-08-16 22:54] blender commented on #146
Great. Now two questions:

- Who is going to develop the feature? Can you help? I am busy with #135 atm
- What company is this for? Is this for your own project?

I'm asking this in case, you know, it's down to me to work for free (yes, of course I care for the adoption of the project but you know, I have a day job too and just so many hours at night)

How about `.netrc` ?

[2018-08-16 23:02] blender commented on #146
Actually if all you want is to add an `Authorization` header then rome should not even care about your credentials. In shorts you could just specify in some file:

[code]

and rome will just use these values to the headers

[2018-08-17 08:12] TeddyMalfroy commented on #145
Hi, thank you for your answer!
I created a ruby ​​script calling the function rome upload & download, here is what the proxy looks like: ENV['HTTP_PROXY'] = 'http://gateway.seb.zscaler.net:9480'

[2018-08-17 08:29] blender commented on #145
If it doesn't work in your enterprise network you have to work with your network admins.

As far as I can tell the proxy settings are picked up correctly.

[2018-08-17 08:29] TeddyMalfroy commented on #145
I also writes  : ENV['HTTPS_PROXY'] = 'http://gateway.seb.zscaler.net:9480' and it does not work.. The same if I launch in terminal directly : rome upload or rome download

[2018-08-17 08:36] TeddyMalfroy commented on #145
Error :
(InternalException (HostCannotConnect "s3-eu-west-1.amazonaws.com" [Network.Socket.connect: <socket: 30>: does not exist (Connection refused)])))
10:35:05 2018-08-17 - Started downloading GSMODCache.369D9BB3-9F3C-345B-A512-38EB385CE387.bcsymbolmap from: GSMOD-iOS-Cache/iOS/369D9BB3-9F3C-345B-A512-38EB385CE387.bcsymbolmap-4.0.0.zip
10:35:05 2018-08-17 - Error: could not download GSMODCache.

[2018-08-17 09:14] blender commented on #145
If it works __with a proxy in your home network__ and not in the enterprise network, then it's clearly a problem with your enterprise network

[2018-08-17 11:51] TeddyMalfroy commented on #145
Yes I'm sure!
I have an another message in my terminal :
Found GSMODDataTracking in local cache at: /Users/genesis/.ios_toolbox/GSMOD-iOS-SebAnalytics/iOS/GSMODDataTracking.framework-10.0.0.zip
rome: Carthage/Build/iOS/GSMODDataTracking.framework/SADebug.storyboardc/debug.nib: removeFile: permission denied (Permission denied).
It tells you something?

[2018-08-17 11:53] blender commented on #145
Sorry, I didn't understand. You're sure about what?

Seems like the directory does not belong to the user running rome or you don't have enough permissions

[2018-08-17 12:13] TeddyMalfroy commented on #145
Yes I'm sure about the proxy, the mistake came from our company!
Thanks for your help

[2018-08-17 12:16] blender commented on #145
@TeddyMalfroy Ok, so problems solved? I'm glad. :D

What company is this?

Please close the issue if the problem is resolved.

[2018-08-17 12:18] #145 closed

[2018-08-23 02:42] dflems commented on #146
@blender: I don't have a lot of time at the moment, but if I can find some free time I can look into doing it. I'd need to learn haskell first though :)

[2018-08-23 08:04] blender commented on #146
Leaning Haskell is rewarding in itself ;)

[2018-08-24 14:37] blender commented on #142
It's out https://github.com/blender/Rome/releases/tag/v0.17.0.48

[2018-08-24 14:37] #142 closed

[2018-08-27 08:52] thii commented on #143
@blender Looks like it works without any issue. Can you publish this version to CocoaPods?

[2018-08-27 09:15] blender commented on #143
@thii sure, I just want to:
- [ ] add integration tests
- [ ] update readme

and then it's ready to go.

Check back in 1 hour or so.

[2018-08-27 10:59] blender commented on #143
@thii  it's all out there.

[2018-08-27 10:59] #143 closed

[2018-08-28 02:04] thii commented on #143
@blender https://github.com/OpenShelter/fastlane-plugin-rome/pull/7

[2018-09-04 22:16] c0diq commented on #135
Works like a charm. Thank you!

[2018-09-04 22:16] c0diq commented on #135
Maybe add documentation for `platforms`?

[2018-09-05 08:28] blender commented on #135
@c0diq 🤦‍♂️ good point

[2018-09-05 09:40] blender commented on #135
@c0diq Done. I hope you're using https://github.com/blender/Rome/releases/tag/v0.17.1.49  which is the stable release instead of the one I linked that is unfortunately bugged.

[2018-09-05 09:40] #135 closed

[2018-09-09 08:05] chika-kasymov opened #149 "Rome do not use env variables"
## Enhancement Suggestion / Bug Report

    When using environment variables I'm getting the same error both on local and CircleCI: ```rome: /Users/chika/.aws/config: openFile: does not exist (No such file or directory)```.

**Steps which explain the enhancement or reproduce the bug**

1. Setup Rome
2. Export `AWS_REGION`, `AWS_ACCESS_KEY_ID`, and `AWS_SECRET_ACCESS_KEY` variables
3. Run any Rome

[2018-09-09 08:28] blender commented on #149
Thanks for opening an issue, this is a duplicate of https://github.com/blender/Rome/issues/102

There is a workaround in that issue. It's not a problem with rome as far as I can tell. Reading env variables should work fine on your machine for example.

[2018-09-09 08:31] blender commented on #149
Actually you said you get the same problem locally?

[2018-09-09 08:34] chika-kasymov commented on #149
Yes. I exported AWS variables and see them in `env` command output, but any Rome command fails.

[2018-09-09 16:06] #149 closed

[2018-09-09 16:09] blender commented on #149
@chika-kasymov please try https://github.com/blender/Rome/releases/tag/v0.17.2.50

[2018-09-10 02:41] chika-kasymov commented on #149
@blender sadly the fix doesn't solve the problem on both sides. Currently, I'm getting this error:
[code]
`asdf` here is the value of `AWS_REGION`.

[2018-09-10 04:10] blender commented on #149
AWS_REGION must be a valid region. asdf is not a valid region

[2018-09-10 04:11] blender commented on #149
Try with us-east-1 for example

[2018-09-10 05:38] chika-kasymov commented on #149
@blender sorry I tried `asdf` for testing purposes and didn't know Rome validates the value :) Yes, with correct value everything works now. But I can't get a new version using `brew`. Will it update automatically after a while?

[2018-09-10 05:39] blender commented on #149
I will release via homebrew in the next 30 minutes and write back here.

[2018-09-10 05:41] chika-kasymov commented on #149
Thanks!

[2018-09-10 05:59] blender commented on #149
@chika-kasymov  done

[2018-09-11 04:52] chika-kasymov opened #151 "Typo in README"
## Enhancement Suggestion / Bug Report

    Please, fix typo: replace occurrences of `respositoryMap` to `repositoryMap`.

**Current behavior**

    When configuring `repositoryMap` section in Rome file I copied a sample from the README. Things were not working right and on double check, I noticed that a few examples have typos. Specifically, instead of `repositoryMap` there is written `respositor

[2018-09-11 05:13] blender commented on #151
@chika-kasymov that's an easy PR. I would be happy to merge it if you fix the typo :)

Thanks for reporting

[2018-09-26 08:57] defkrie commented on #139
Hello @blender thank you for your work. What is the status of this issue? Can we already test it by providing the address of a nexus server with a user / password in Romefile ?
Thank you

[2018-09-26 10:05] blender commented on #139
@defkrie

This will be supported via #148 . I work on it when I can. PR's welcome.

[2018-09-26 11:46] Max0u opened #154 "Framework missing [help wanted]"
Hi ! First, thanks for your awesome project.

Once I run :

[code]

and then I run :

[code]

There is some missing framework.

For exemple with Moya framework when I build with Carthage I got RxMoya but it seems that I only upload Moya.

Here is my Romefile :

[code]

What did I do wrong ?

Thanks !

**Rome version:**

    [0.17.2.50]

**OS and version:**

    [Mac OS 10.14]

[2018-09-26 12:03] blender commented on #154
@Max0u

If your framework produces more the one target you need to add a `repositoryMap`.

In the `repositoryMay` you can specify what produces what. So for Moya:

[code]

[2018-09-26 12:34] Max0u commented on #154
That's perfect ! And if I got framework from binary like that :

[code]

Can I go with :

[code]

Else that's awesome man !

[2018-09-26 12:40] blender commented on #154
that should be correct

[2018-09-26 13:14] blender commented on #154
@Max0u did that help? Please consider closing the issue if you don't have other questions ;)

[2018-09-26 13:43] Max0u commented on #154
Yes it worked thanks again 👍

[2018-09-26 13:43] #154 closed

[2018-09-26 14:34] Max0u commented on #106
Hi Blender, sorry it's still me.

I'm on 0.17.2.50 and still get problem with Starscream.

Here is my Romefile :

[code]

Once I upload then download I got this :

[code]

[2018-09-26 15:10] blender commented on #106
@Max0u Starscream is not relocatable. See https://github.com/blender/Rome/issues/106#issuecomment-352679641

[2018-10-24 11:37] accfews commented on #69
Do you have any progress on this?

[2018-10-24 11:48] blender commented on #69
@accfews no, this has low priority atm.

[2018-11-04 07:38] fabb opened #155 "Support for PodBuilder"
## Enhancement Suggestion

[PodBuilder](https://github.com/Subito-it/PodBuilder) is a tool that supports precompilation of frameworks in projects that use Cocoapods. Would it be possible for Rome to support caching PodBuilder generated frameworks?

[2018-11-04 21:01] blender commented on #155
@fabb if PodBuilder generates something similar to a `Cartfile.resolved`(`Podfile.restore` maybe?) then I guess it should be possible to support it.

This is not on my roadmap but it someone wants to pick this up I'll be glad to discuss an implementation strategy.

[2018-11-09 12:36] blender commented on #24
Done in #156

[2018-11-09 12:36] #24 closed

[2018-11-16 10:19] LSJFR commented on #131
Hi,

I have the same issue with the latest version

`rome --version`
`0.18.0.51 - Romam uno die non fuisse conditam.`

I type this command :
`
rome upload DZNEmptyDataSet --platform ios
`

and i have this :
`
Uploaded DZNEmptyDataSet to: DZNEmptyDataSet/iOS/DZNEmptyDataSet.framework-v1.8.1.zip
Uploaded DZNEmptyDataSet.dSYM to: DZNEmptyDataSet/iOS/DZNEmptyDataSet.framework.dSYM-v1.8.1.zip
Uploaded

[2018-11-16 12:17] blender commented on #131
Let me run the tests on master

[2018-11-16 13:10] LSJFR commented on #131
hummm, ok.

Carthage build this files :

<img width="483" alt="capture d ecran 2018-11-16 a 14 07 53" src="https://user-images.githubusercontent.com/10814086/48623098-09ebe700-e9a9-11e8-99d0-7788da756c22.png">

When i upload with Rome, only 2 .bcsymbol files are uploaded.

Why the download action try to download 4 .bcsymbol files ?

Thanks !

[2018-11-16 14:21] blender commented on #131
Because the .bcsymbolmaps are generate by Xcode only for the supported architectures specified in the your project.

However, one can always obtain ids for all architectures from the `dSYM`. If you are curious how this is the bit: https://github.com/blender/Rome/blob/master/src/Xcode/DWARF.hs#L57-L73

[2018-11-23 08:25] sauravexodus opened #158 "Parallel download/upload of binaries from S3."
## Enhancement Suggestion / Bug Report

    Parallel uploads to S3 server using `--parallel` option

**Why would the enhancement be useful to most users**

    I sometimes experience slow downloading/uploading on my mac. This would enable the uploads and downloads to use the full bandwidth of the internet.

[2018-11-23 09:17] blender commented on #158
I think it makes sense even without the flag.

I am not sure why I didn't consider it at the time. Listing is already parallelized. https://github.com/blender/Rome/blob/582cc2d6139baefa0d6da5bb5adc9f34cef63d91/src/Caches/S3/Probing.hs#L26

[2018-11-23 10:56] sauravexodus commented on #158
Should I take this up?

[2018-11-23 11:40] blender commented on #158
Sure. If you want to give it a try :)

[2018-11-24 09:43] fabb commented on #127
Btw. Swift 5 will NOT make this unnecessary. While Swift 5 provides ABI stability, it does NOT provide module stability which would also be be needed for supporting precompiled Swift frameworks of other Swift versions.
https://forums.swift.org/t/plan-for-module-stability/14551

[2018-11-25 18:11] sauravexodus commented on #158
I get this weird error when I try to run `stack build`

<img width="1912" alt="screenshot 2018-11-25 at 11 40 21 pm" src="https://user-images.githubusercontent.com/7869346/48982661-8601cf80-f10b-11e8-9632-2bdc08fe9ac5.png">

[2018-11-25 18:15] blender commented on #158
do you get it reliably?

[2018-11-25 18:18] sauravexodus commented on #158
Yes. Even if I do a clean build.

[2018-11-25 18:33] sauravexodus commented on #158
Yeah worked!! Thanks for the precise help :D

[2018-11-26 10:30] blender commented on #127
@fabb  I have read the issue but I don't see how this matters?

If any that thread is another reason not to derive the cache name automatically since multiple compiler versions can share the same binary.

[2018-12-04 17:35] RafaelPlantard commented on #49
Are you developing it or can I start to do it?

[2018-12-05 10:49] blender commented on #49
@RafaelPlantard I have done some work here https://github.com/blender/Rome/pull/148.

I think the direction I was going with was to call the engine scripts with the path to the binary to upload and where to upload it, hiding all the rest of the logic for now.

I updated the branch with the latest changes from master so at least it's compiling.

[2018-12-05 10:57] RafaelPlantard commented on #49
I will take a look...

[2018-12-06 10:51] blender commented on #49
@RafaelPlantard  if you are having trouble building, see https://github.com/blender/Rome/issues/158#issuecomment-441460926

[2018-12-06 10:51] blender commented on #158
Hey @sauravexodus were you able to make any progress?

[2018-12-06 12:21] sauravexodus commented on #158
No, @blender I haven't gotten time yet.

[2018-12-06 13:39] RafaelPlantard commented on #49
Are you reading my mind? I'm facing some troubles with install Brittany, too

[2018-12-06 20:51] RafaelPlantard commented on #49
I'm super beginner in Haskell, is there a good material to beginners?

[2018-12-06 21:31] blender commented on #49
http://haskellbook.com or http://www.cs.nott.ac.uk/~pszgmh/pih.html

However implementing #146 might be not the best beginner task.

[2018-12-16 02:55] RafaelPlantard commented on #53
I guess I'm facing the same issue, I always upload always with success, but when I try to download:
[code]

[2019-01-07 10:55] el-hoshino opened #159 "Add support for S3 IAM Role"
## Enhancement Suggestion / Bug Report

Add an option to use IAM Role instead of Access Key and Secret Key to access Amazon S3 bucket.

**Why would the enhancement be useful to most users**

If the Access Key or Secret Key become exposed to the public or just someone you don't want him to know about it, you'll need to revoke them and generate a new access key and secret key, which may affect other

[2019-01-07 11:34] blender commented on #159
@el-hoshino thanks for the suggestion, I think it's a good idea.

However this is very low on the list of enhancements on my list. If you want to give it a shot, please let me know.

[2019-01-12 00:53] ScottBuchanan opened #160 "currentMap ignored when using `rome upload <current_framework_repo_name>`"
## Bug Report

The `rome upload` command does not appear to use the `currentMap` when the current framework's repository name is passed in as a parameter.

**Reproduction Steps:**

1. have a `Romefile` with a `currentMap` entry that does not follow the "Organization/FrameworkName" convention. ie.
[code]
2. run the rome upload command with current framework ie. `rome upload better-dog-names`

**Exp

[2019-01-12 00:55] JesseScott commented on #160
agreed, this is an important functional change to have!

[2019-01-12 07:42] blender commented on #160
Definitely a bug. Thanks for the detailed report, this should have not made it though my integration tests.

[2019-01-14 23:11] blender commented on #160
Please try fix at https://github.com/blender/Rome/releases/tag/v0.18.1.52

[2019-01-15 00:39] ScottBuchanan commented on #160
yeah looks like its working for me now. Thanks for getting on that so quickly.

Sidenote: I saw you put in a fix for another issue that I'm hitting with carthage: https://github.com/Carthage/Carthage/issues/2634

Any insights into when that might be released?

[2019-01-15 10:56] blender commented on #160
@ScottBuchanan the PR that implements the fix on Carthage has already been merged https://github.com/Carthage/Carthage/pull/2636

You can install the version with the fix by running `brew install carthage --HEAD`

[2019-02-02 11:23] fabb opened #162 "Missing S3 Minio Bucket - `rome upload` hangs"
## Enhancement Suggestion / Bug Report

When Minio Bucket does not yet exist, `rome upload` hangs.

**Steps which explain the enhancement or reproduce the bug**

1. In a new project with Rome and a Minio instance set up, but not yet added the according bucket, execute `rome upload`

**Current behavior**

    No output, and the command does not finish. When the bucket is created, it immediately wor

[2019-02-02 13:30] fabb commented on #155
Sorry for not responding for so long, the PodBuilder project is kind of a low priority project for us and does not get the love it deserves.

In the mean time, PodBuilder added version files for each installed framework which should make the integration easier. Now it creates a `PodBuilder.plist` file inside each .framework folder that contains the pod version (or commit hash), and even the swift

[2019-02-03 08:35] blender commented on #155
@fabb Seems about right. I can't commit the time necessary to make this happen right now. Do you want to take a shot at it?

I suggest to start by parsing the `Podfile.restore`

[2019-02-03 08:36] blender commented on #162
Thanks for reporting, I'll check if it is possible to define a timeout when communicating with the bucket.

[2019-02-03 09:08] fabb commented on #155
Oh I don‘t expect you to do it, it‘s probably a feature only I would use anyways.

I will keep this on my list, but I probably can‘t complete it soon. Would be nice to do something real in Haskell though, not just assingments.

[2019-02-05 12:56] blender commented on #160
@ScottBuchanan there is a bug in this version where current + ignore doesn't work properly and results in exactly there same weird cache path. I have corrected it and will issue another pre-release.

[2019-02-05 22:57] c0diq opened #163 "Uploading incorrect version"
## Enhancement Suggestion / Bug Report

    When the Cartfile and the Cartfile.resolved versions differ, the wrong version is uploaded in the `.<framework>.version-v<version>` file.

**Steps which explain the enhancement or reproduce the bug**

1.
Cartfile.private contains `github "Quick/Quick" ~> 1.3.1`
Carfile.resolved contains `github "Quick/Quick" "v1.3.4"`
2. Build with Carthage
3. Execute `r

[2019-02-06 08:46] blender commented on #163
Hi, could it be that someone/something manually modified the Cartfile.resolved?

It would be great if you could reproduce this. I'll keep an eye out for it and verify with the workflow.

[2019-02-06 16:58] #160 closed

[2019-02-07 13:55] blender commented on #160
Released here: https://github.com/blender/Rome/releases/tag/v0.18.1.53

[2019-02-11 11:34] sauravexodus opened #164 "Rome fails to download with the latest Homebrew"
## Bug Report

Rome fails to download with the latest `brew` version

**Steps which explain the enhancement or reproduce the bug**

Try to run

`brew install blender/homebrew-tap/rome`

**Current behavior**

    Fails with an error
    Error: No available formula with the name "blender/tap/rome"
    Please tap it and then try again: brew tap blender/tap
    Error: No similarly named formulae found

[2019-02-11 13:23] blender commented on #164
Hi, installation is working fine for me. What version of Homebrew do you have?

Alternatively try

[code]

[2019-02-11 13:39] blender commented on #164
I already updated the Readme, thanks for reporting https://github.com/blender/Rome#using-homebrew.

@sauravexodus can you confirm the new instructions are working for you?

[2019-02-11 14:37] blender commented on #159
@el-hoshino I'm looking into this but I don't understand how this would work.

You still need an access_key and a secret_key.

Maybe you can explain to be how you see this working or point me to some documentation?

[2019-02-11 14:55] blender commented on #159
Credentials discovery on IAM should be already supported without me doing anything:

https://github.com/brendanhay/amazonka/blob/248f7b2a7248222cc21cef6194cd1872ba99ac5d/amazonka/src/Network/AWS/Auth.hs#L225

[2019-02-11 17:28] c0diq commented on #163
@blender No. We don't touch the Cartfile.resolved manually. I am still unsure how I ended up in this state. We can close for now and reopen if I can reproduce. Thanks!

[2019-02-11 17:29] #163 closed

[2019-02-12 07:29] sauravexodus commented on #164
I was using 2.0.1 version of Homebrew. It works now

[2019-02-12 07:29] sauravexodus commented on #164
Thanks for the quick revert

[2019-02-12 08:43] #164 closed

[2019-02-13 00:52] jbuckner opened #165 "Rome does not recognize last entry in Cartfile.resolved if there's no new line at end"
## Enhancement Suggestion / Bug Report

If there's no new line at the end of the last entry of `Cartfile.resolved`, Rome does not detect it as a dependency and doesn't upload or download it.

**Steps which explain the enhancement or reproduce the bug**

1. Remove any new line characters from the end of `Cartfile.resolved` so it ends at the last character of the last entry.
2. Run `rome upload` or

[2019-02-13 10:07] blender commented on #165
Thanks for reporting, I will investigate.

[2019-02-13 18:22] blender commented on #165
Please try: https://github.com/blender/Rome/releases/tag/v0.18.2.53

This is a high risk change since I had to almost completely redo the parsing of the `Cartfile.resolved`

[2019-02-13 20:00] jbuckner commented on #165
@blender Thank you for jumping on this so quickly! I tested `0.18.2.53` and it fixes the issue!

[2019-02-16 01:27] blender commented on #165
@jbuckner released in https://github.com/blender/Rome/releases/tag/v0.19.0.55

I bumped the version number because of the new parser.

Are you using this project privately or for work?
If you use it for work would you mind if I add your employer to the list of Rome users?

[2019-02-16 01:27] #165 closed

[2019-02-21 09:55] el-hoshino commented on #159
@blender Thanks for the investigation! I need to talk with our system department about this issue; I'm not sure how they're using S3, last time I asked them they just said for security reasons they're not very happy to give us the Access Key and Secret Key, instead they can give us IAM Role 🤔

[2019-02-22 09:10] samritchie commented on #126
@blender I might have a look at this one. Are you thinking http-conduit and using the command line flag as proposed?

[2019-02-22 10:18] blender commented on #126
@samritchie

If credentials are not discovered when a bucket is defined then an unauthenticated request should be made.

The CLI flag is needed to override the behavior regular behavior when credentials are there. I suggest the flag to be `--no-auth`

http-conduit to /tmp/some-zip then move to the appropriate location and unpack.

[2019-02-25 22:00] eskerber commented on #125
I just experienced this as well, and it was resolved after restarting my test Minio server. I'll follow up if I find anything new, but think it would be useful to anyone stumbling across this thread that it does reproduce (sometimes) with Minio 2019-02-20T22:44:29Z

[2019-02-25 22:10] blender commented on #125
@eskerber  which part? The 0 byte archive or the failing upload?

[2019-02-25 22:17] eskerber commented on #125
Apologies - the 0 byte part. I got the error on `rome download`

[2019-02-25 22:19] blender commented on #125
ok, time to fix this.

[2019-02-26 09:43] blender commented on #125
@eskerber can you tell me if you encountered the problem while running the command in `verbose` mode?

[2019-02-26 19:20] eskerber commented on #125
@blender It was not verbose.

[code]

[2019-03-04 06:07] #125 closed

[2019-03-05 01:17] thii commented on #125
@blender I tried with the build from master (commit f3ac8c3b47561f3512f27bc083b1b95a0e31f8e2) but the failing upload error was still there. Should I create a new issue for it?

[2019-03-05 11:53] blender commented on #125
@thii yes. However I could never get your case to repo. If you could help me with that I can take a look.

[2019-03-08 10:02] alexvanbelle opened #175 "S3 - Profile with role_arn are not working"
## Enhancement Suggestion / Bug Report
AWS [recommends to use assume roles](https://docs.aws.amazon.com/IAM/latest/UserGuide/best-practices.html#delegate-using-roles) for cross-accounts management (which is the standard approach in a company). Rome can support profiles but the role_arn seems ignored and therefore, users get access denied.

**Steps which explain the enhancement or reproduce the bug

[2019-03-08 12:07] blender commented on #175
Can this be a duplicate of #159 ? I appreciate the explanation

[2019-03-08 13:09] blender commented on #175
Is it this? http://hackage.haskell.org/package/amazonka-sts-1.6.1/docs/Network-AWS-STS-AssumeRole.html

[2019-03-08 13:15] alexvanbelle commented on #175
Hi,
I've seen #159 before opening this one. I believe they are related but slightly different:

1. This one is about users assuming roles cross-accounts.
2. #159 is (as I understand latest answer on it) about [EC2 IAM Role](https://docs.aws.amazon.com/AWSEC2/latest/UserGuide/iam-roles-for-amazon-ec2.html)

Both covers different scenario (in respective order):
1. If you have developers that should

[2019-03-08 13:17] alexvanbelle commented on #175
I've seen that. It looks ok but I don't have enough knowledge on this Haskell library. The documentation in itself is relevant. However, the package is misleading: why is it in the network one?

[2019-03-08 13:18] blender commented on #175
from what I gather this would work in the following way:

- specify ARN
- rome makes request to STS, get the new keys
- rome uses the new keys

correct?

[2019-03-08 13:20] blender commented on #175
also I don't think possible to run rome on EC2 (it requires Xcode) so I'm quite puzzle by #159

[2019-03-08 13:31] alexvanbelle commented on #175
Yes it is, kind of. Actually, when you use STS (Security Token Service), it generates one additional parameter compared to "normal" access keys. You'll get a token.

So, it's more:

1. Use the permanent Access key and secret to use STS to get a new temporary access key, its associated secret and the session token
2. Romes uses the temporary credentials (access key, secret and token) to do S3 reque

[2019-03-08 13:34] blender commented on #175
So would it be enough rome to support auth via Session?

As far as I understand the session itself can be retrieved beforehand

[2019-03-08 14:13] alexvanbelle commented on #175
Would say no because it would not be userfriendly. Session last 1h in general.

I know understading this part can be tricky and it takes time to get used to it, so no worries, you're not alone :)

You should propose two approaches:

1. The profile is using role_arn: you should use session.
2. The profile is not using role_arn: you should use the permanent access keys

May you point me to the place

[2019-03-08 14:20] blender commented on #175
Here is the bit: https://github.com/blender/Rome/blob/master/src/Lib.hs#L72
This uses "Discover" strategy:
- Explanation: https://github.com/brendanhay/amazonka/blob/248f7b2a7248222cc21cef6194cd1872ba99ac5d/amazonka/src/Network/AWS/Auth.hs#L215
- Implementation: https://github.com/brendanhay/amazonka/blob/248f7b2a7248222cc21cef6194cd1872ba99ac5d/amazonka/src/Network/AWS/Auth.hs#L354

I don't think

[2019-03-08 14:26] blender commented on #175
Other questions:

should ARN be:
-  a CLI option?
- and or an ENV variable?
- stored in some file?

[2019-03-08 14:41] alexvanbelle commented on #175
My understanding is that you want to mimic the behavior of AWS CLI (as I can read in the README of the project).

You can read [this](https://docs.aws.amazon.com/cli/latest/userguide/cli-configure-role.html).

So, to answer your question: role_arn should be in the ~/.aws/config file, under the AWS_PROFILE users will use for Rome.

[2019-03-08 14:44] alexvanbelle commented on #175
Do you an AWS account on which you are admin? I can provide guidance on how to create a role in order to help you try it. (while we use roles mainly for cross accounts, you can assume roles that are in the same account).

[2019-03-08 19:14] blender commented on #175
Yes, I have a AWS account I can play around. I'll try to follow the tutorial you posted and see how far I get.

Following the AWS CLI convention sounds solid.

[2019-03-10 20:09] blender commented on #158
This is implemented in #174

[2019-03-10 20:09] #158 closed

[2019-03-11 10:11] sauravexodus commented on #158
Awesome! 💃

[2019-03-11 17:19] alexvanbelle commented on #175
Ok, then, on a single account, you can do the following.

**Gather the information:**
Any AWS account has an ID. This is a big integer. You can get yours from there. Keep it because you will use it in different steps below.

**Create the role**
These steps create a role on your account that can be assumed by users of your account. You need to use a user with high privilege to create such a role.

[2019-03-13 23:25] blender commented on #175
Thanks! I will follow your instructions.

Unfortunately this completely breaks credentials discovery and I have to do it from scratch.

About the discovery of the credentials, can you please validate the following:
- `AWS_PROFILE` env variable will be set __to the name of the profile where the role_arn is specified__. E.g. AWS_PROFILE="profile s3"
- in case AWS_PROFILE is not set, use `default`
-

[2019-03-18 14:47] alexvanbelle commented on #175
Sorry for the delay. Please find my answers below.

[alexvan] Correct.

[alexvan] Correct.

[alexvan] I don't know. I've never used this kind of configuration.

[alexvan] I don't know. I've never used this kind of configuration.

[alexvan] I believe it's correct. However, I believe users could have different configurations.

[alexvan] Correct. Credentials are temporary access keys + secrets + toke

[2019-03-26 22:57] rhysforyou opened #177 "Allow checkouts to be cached"
## Enhancement Suggestion

It would be helpful if, in addition to built frameworks, Rome could also cache the contents of the _Checkouts_ directory.

**Current behavior**

Only the built frameworks are cached.

**Suggested behavior**

Both built frameworks and checkouts are cached.

**Why would the enhancement be useful to most users**

For a lot of projects, we want the guarantee that we can stil

[2019-04-02 09:49] blender commented on #177
I think that if you are worried the scenarios you describe then you should fork the repositories instead and use that.

I don't believe this is something that should be Rome's responsibility.

[2019-04-04 08:35] leviathan opened #178 "When downloading frameworks from cache lots of error messages are logged"
## Question

When downloading cached frameworks, the console shows a lot of error messages.

**Steps which explain the enhancement or reproduce the bug**

1. Uploaded carthage dependency to AWS S3 bucket with:
[code]
2. Tried to download the cached framework(s) from the AWS S3 cache.

**Current behavior**

When running
[code]
.. the download works.
But there are lots of console messages, which I d

[2019-04-04 13:09] blender commented on #178
Errors are cache misses. You're totally fine.

bcsymbolmap  ids are for all platform but of course if you either don't upload them or you don't build for all platfroms you won't have them. Hence the "error".

I should really rename this to Warning :)

[2019-04-04 15:42] blender commented on #175
WIP at https://github.com/blender/Rome/pull/179

[2019-04-04 19:33] jamezilla opened #180 "Add option to disable the "Organization/FrameworkName" convention"
## Enhancement Suggestion

The "Organization/FrameworkName" convention for automatically detecting frameworks causes subtle problems with Carthage workflows.

**Steps which explain the enhancement or reproduce the bug**

1. Add a custom framework to your project which doesn't follow the "Organization/FrameworkName" convention
2. Build and upload to the rome cache
3. Clear the Carthage/Build folder

[2019-04-04 20:51] blender commented on #180
This sounds to me like a problem between then chair and the keyboard.

I would rather add a `rome verify` command  since `carthage-verify`doesn't have enough information to acutally verify the integrity of the build folder?

[2019-04-05 16:57] jamezilla commented on #180
Very much so. I'm just trying to code around the problems I _can_ solve.

+1 for `rome verify`. Any thoughts about how to approach this? I spent a bit of time yesterday prototyping something similar, but it's messy. The two approaches I came up with were:

1. crawl the `Carthage/Checkouts` folder and find all the targets
2. parse the project files to introspect the framework build phases and try t

[2019-04-14 07:26] blender commented on #175
@alexvanbelle  please try https://github.com/blender/Rome/releases/tag/v0.21.0.57

[2019-04-15 12:33] leviathan commented on #178
@blender renaming this to `warning` would be helpful, or even `info` might be sufficient.
Or even hide these messages behind a `--verbose` command.

[2019-04-15 12:33] #178 closed

[2019-04-26 23:45] Robuske opened #181 "Question - Download/Upload only invalid frameworks"
## Question

Maybe I am not understanding correctly, but if I run `rome download` two times it will download everything the two times? And the same for upload? It doesn't check the versions to know if it actually needs to do that?

**Rome version:**

    0.20.0.56

[2019-04-27 06:46] blender commented on #181
For upload you can run `rome list` first as explained in the CI setup here https://github.com/blender/Rome/blob/master/README.md#--cache-builds-workflow-recommended

This avoids unnecessary uploads.

For download, there is no way to know the version on disk is the correct one.

[2019-04-29 19:48] Robuske commented on #181
It doesn't guarantee, but isn't what Carthage itself uses for the `--cache-builds` option? And don't you use ir for the `list --missing`? What would be the difference?
Seems good enough for at least having the option of doing that with a `--check-version` or something like that. And if you don't check the version for the `list --missing` command, it could be added there and to the `upload` command

[2019-04-30 08:13] blender commented on #181
@Robuske  I'll try to explain how things work

`.version` files are irrelevant. Rome doens't read `.version` files. This is because __on a fresh checkout you wouldn't have .version files to begin with__. Your Carthage folder is empty so there is nothing to read there.

When you run `rome download` also the `.version` files are downloaded. It's a chicken and egg problem. So, you can't really limit

[2019-04-30 08:22] blender commented on #181
Wait, I see what you're saying. Your`Carthage/` folder is __not empty__ to begin with.

So you're suggesting to read the .version files to limit download operations if they are available.
That could be useful but still .dYSM and .bcsymbolmap are not checksummed in the .version file so they would need to be downloaded again.

[2019-04-30 16:20] Robuske commented on #181
Exactly, I may already have everything, or most of the cache, I just want to download what is missing. The main use case is any CI service that already has its own cache, avoiding downloading everything again could save time and money, S3 is cheap, but not free
Yeah, dSYM and bcsymbolmap may be a problem, but like I said, I would trust the version file, if it was changed, download all files, ignor

[2019-05-02 08:37] blender commented on #181
If I have Alamofire 4 and upload it
Them update to Alamofire 5, the cache is reported as missing or not?

I'm not sure what you mean. Can you be more clear?

[2019-05-02 23:31] Robuske commented on #181
What the `rome list --missing` tests for? Having any version of the framework, or the version specified on `Carthage.resolved`?

[2019-05-06 14:48] blender commented on #181
@Robuske  `rome list` test for the version listen in `Carthage.resolved` to be in the cache.

I have made the improvement you have suggested, but only to download. I don't see how it would make sense for upload or list.

[2019-05-06 20:39] Robuske commented on #181
If that's how it works it should be enough, thank you

You made already? I don't see any PR/branch/merge

[2019-05-07 08:56] blender commented on #181
@Robuske I need to finalize a CLI switch for this feature and clean up a few things first. I'll write here when there is a pre-release version you can test :)

[2019-05-07 21:24] Robuske commented on #181
No problem, didn't expect it to be implemented that fast, thank you
I thought about contributing, but I've never touched Haskel before, so I was having a hard time understanding it

[2019-05-09 18:02] ekimia opened #182 "Possible for Google Cloud Storage support as things stand?"
I know theres currently a task to implement GCS support, but given they share the same S3 protocol, is there a way to get it working as things stand?

[2019-05-09 19:44] blender commented on #182
I never tried. It might work by setting the endpoint override just as for Minio https://github.com/blender/Rome/blob/master/README.md#setting-up-endpoint-override

[2019-05-09 19:50] blender commented on #182
In case you want to try let me know the results. Also pay attention to the fine print, __do not remove the region__

[2019-05-15 16:12] blender commented on #175
This seems to work fine! Hopefully I didn't break any other mechanism and there are enough tests to prove that.

[2019-05-15 17:11] blender commented on #175
closed by https://github.com/blender/Rome/releases/tag/v0.21.0.58

[2019-05-15 17:11] #175 closed

[2019-05-18 19:07] #146 closed

[2019-05-18 19:15] blender commented on #182
@ekimia Thanks to @BalestraPatrick  you can now use w[hatever backend you want](https://github.com/blender/Rome/#custom-engine). https://github.com/blender/Rome/pull/185

[2019-05-18 19:15] #182 closed

[2019-05-18 19:16] blender commented on #139
@defkrie @michallaskowski Thanks to @BalestraPatrick  you can now use w[hatever backend you want](https://github.com/blender/Rome/#custom-engine). https://github.com/blender/Rome/pull/185

[2019-05-18 19:16] #139 closed

[2019-05-18 19:17] blender commented on #126
@LesterTheTester  Thanks to @BalestraPatrick  you can now use [whatever backend you want](https://github.com/blender/Rome/#custom-engine), including implementing your own S3 script. https://github.com/blender/Rome/pull/185

[2019-05-18 19:17] #126 closed

[2019-05-18 19:17] blender commented on #120
@rob-nash Thanks to @BalestraPatrick  you can now use [whatever backend you want](https://github.com/blender/Rome/#custom-engine)

[2019-05-18 19:17] #120 closed

[2019-05-18 19:18] blender commented on #116
@chrispcampbell Thanks to @BalestraPatrick  you can now use [whatever backend you want](https://github.com/blender/Rome/#custom-engine)

[2019-05-18 19:18] #116 closed

[2019-05-18 19:18] blender commented on #49
@RafaelPlantard Thanks to @BalestraPatrick  you can now use [whatever backend you want](https://github.com/blender/Rome/#custom-engine)

[2019-05-18 19:18] #49 closed

[2019-05-18 19:35] blender commented on #182
You can try the pre-release at: https://github.com/blender/Rome/releases/tag/v0.22.0.59

[2019-05-18 19:35] blender commented on #49
You can try the pre-release at: https://github.com/blender/Rome/releases/tag/v0.22.0.59

[2019-05-18 19:36] blender commented on #116
You can try the pre-release at: https://github.com/blender/Rome/releases/tag/v0.22.0.59

[2019-05-18 19:36] blender commented on #120
You can try the pre-release at: https://github.com/blender/Rome/releases/tag/v0.22.0.59

[2019-05-18 19:36] blender commented on #126
You can try the pre-release at: https://github.com/blender/Rome/releases/tag/v0.22.0.59

[2019-05-18 19:36] blender commented on #139
You can try the pre-release at: https://github.com/blender/Rome/releases/tag/v0.22.0.59

[2019-05-18 19:37] ekimia commented on #182
awesome @blender and @BalestraPatrick !!! Been slammed dealing with company launch but i will verify + add a PR to the readme explaining how to use GCS

[2019-05-18 19:37] blender commented on #146
@dflems Thanks to @BalestraPatrick  you can now use [whatever backend you want](https://github.com/blender/Rome/#custom-engine). https://github.com/blender/Rome/pull/185

You can try the pre-release at: https://github.com/blender/Rome/releases/tag/v0.22.0.59

[2019-05-18 19:38] blender commented on #182
@ekimia even better, you can contribute the script itself 🤓

[2019-05-20 15:55] olejnjak opened #186 "Cannot use Rome with Minio"
## Enhancement Suggestion / Bug Report

Since the latest version (0.21.0.58) I am unable to use Rome anymore, I get error
[code]

**Steps which explain the enhancement or reproduce the bug**

1. `rome download`

**Current behavior**

I get error
[code]

**Suggested behavior**

Should work like previous versions

**Rome version:**

0.21.0.58

**OS and version:**

macOS 10.14.5 Mojave

[2019-05-20 16:10] blender commented on #186
Hello, this is a problem with Minio and the bucket configuration you have. https://github.com/minio/minio/issues/4681

[2019-05-20 16:12] olejnjak commented on #186
Okay

[2019-05-20 16:12] #186 closed

[2019-05-28 09:51] codeOfRobin opened #187 ""The AWS Access Key Id you provided does not exist in our records" on minio instances."
## Bug Report

I'm getting a `The AWS Access Key Id you provided does not exist in our records` error when trying to upload/download to our minio instance. I've confirmed that they keys are indeed correct (they work for the web app)

**Steps which explain the enhancement or reproduce the bug**

1. Setup a new minio.io instance
2. Try uploading via rome once (that seems to work)
3. Try uploading/do

[2019-05-28 10:02] codeOfRobin commented on #187
Also, I can confirm that this command does indeed work on `v0.20.0.56` which means it's probably a regression in the latest version.

[2019-05-28 10:18] blender commented on #187
Can you check if you have a combination of env variable and config file ?

[2019-05-28 10:51] codeOfRobin commented on #187
We just have the config/credential files at `~/.aws`

[2019-05-28 11:07] blender commented on #187
Ok, I will take a look. Seems odd as I’m also using credential file and I can’t see how it would be different when using Minio or S3.

[2019-05-28 13:58] joshuapoq commented on #186
@blender This issue is not present with `v0.20.0.56` but is present in `v0.21.0.58`.

Famous last words in the end of PR #175 ? 😅

[2019-05-28 14:16] blender commented on #186
Yeah, maybe. Thing is I also use Minio in integration tests. Everything is working there so it would be great if you would help me reproduce.

[2019-05-28 14:20] joshuapoq commented on #186
I have it reproduced with the newer version and am currently investigating - not ruling out that it's an issue with our config. Will post once I find out!

[2019-05-28 14:24] blender commented on #186
Can you take a look at any of my bats test in the integration folder? That is how I spin up Minio.

[2019-05-29 07:29] ton252 opened #188 "Working with nested frameworks"
I'm trying to use Rome with project that is depended from another with some Carthage dependencies.

The graph will look like this:
[code]

My Cartfile MainProject(A):

[code]

My Cartfile Framework(libui):

[code]

My Rome file:

[code]

And when I'm trying to download missing frameworks like this:
[code]

I'm receiving this error:
No entry found for dependencies input-mask-ios, phonenumberkit in

[2019-05-29 08:08] blender commented on #188
Can you paste your Carthage.resolved file?

[2019-05-29 08:18] ton252 commented on #188
Ok sure, oh I did a mistake in line:
rome list --missing --platform iOS | awk '{print $1}' | xargs carthage bootstrap --platform iOS --cache-builds

I wrote update instead bootstrap:
rome list --missing --platform iOS | awk '{print $1}' | xargs carthage bootstrap --platform iOS --cache-builds

And It start working) But why update not working?

Cartfile.resolve:
[code]

[2019-05-29 08:32] blender commented on #188
I'm glad it works! However bootstrap/update doesn't make a difference to rome. Did you change something else?

[2019-05-29 08:54] ton252 commented on #188
No, just this line. It's very strange maybe it's a problem in Carthage. I'm trying to find a cause of it.

[2019-05-29 09:14] ton252 commented on #188
Finally I understood what was the problem.
What I was doing:
1. Download missing frameworks
2. Getting the list of missing frameworks (including nested frameworks)
3. For all frameworks run carthage update

But if we call carthage update for nested frameworks it will cause an error, because this framework is not in the Cartfile of main project and we can't update it.

In my case I really need to u

[2019-05-29 09:41] blender commented on #188
@ton252 you should be using this flow https://github.com/blender/Rome#--cache-builds-workflow-recommended that will work with `update` as well.

[2019-05-29 09:46] ton252 commented on #188
Yep, you are right, thanks 👌

[2019-05-29 09:46] #188 closed

[2019-05-30 01:57] popei69 opened #189 "S3 - Moving role_arn from `credentials` to `config`"
## Enhancement Suggestion / Bug Report

Going further in https://github.com/blender/Rome/issues/175, the fix seems to rely on `credentials` file only for `source_profile` and `role_arn` fields.

However, AWS suggests to use `config` to setup `source_profile` and `role_arn`. Source: [Assuming an IAM Role in the AWS CLI](https://docs.aws.amazon.com/cli/latest/userguide/cli-configure-role.html)

**St

[2019-05-30 18:09] blender commented on #189
Yes, it relies on `~/.aws/credentials`. I was under the impression that was the correct place but apparently it's not. I'll address this asap.

[2019-06-04 03:33] popei69 commented on #189
@blender I had a look into it and created a PR for it #190.

It ran in my local environment with having the `source_profile` and `role_arn` only in config file instead of credentials. I'm not expert into Haskell, please let me know if I miss anything.

Thanks

[2019-06-05 09:17] blender commented on #189
@popei69 Thanks for you contribution, the new version is out https://github.com/blender/Rome/releases/tag/v0.23.0.60

[2019-06-05 09:17] #189 closed

[2019-06-05 09:27] popei69 commented on #189
@blender No worries, happy to help! Thanks for the quick release.

[2019-06-07 11:46] BlakeRxxk opened #191 "The bucket must be using the specified endpoint"
## Bug Report

Can not upload frameworks to fresh Minio instance(in private network), with error
[code]

**Steps which explain the enhancement or reproduce the bug**
1. Romefile
[code]
2. ``upload Alamofire --platform iOS --concurrently -v``

**Current behavior**
files didn't upload, getting error like this:

[code]

**Suggested behavior**

successful upload

btw, uploading with aws-cli works fine

[2019-06-07 12:17] blender commented on #191
This is a problem with your setup. https://github.com/blender/Rome/issues/186

[2019-06-07 12:22] #191 closed

[2019-06-15 13:06] itsthejb commented on #187
Hi everyone,

Just trying Rome for the first time, and hitting this issue. All AWS config appears to be correct, and I can use `aws s3` commands with the same config. Reverting to version `0.20.0.56` works as expected. So regression, or docs need updating?

[2019-06-15 15:19] blender commented on #187
I can not reproduce the issue neither on CI nor on my local setup. If anyone has and idea how to, I would be more than glad to solve it.

Please take a look as the basts tests setup for reference.

Sent from my iPhone

[2019-06-18 10:35] itsthejb commented on #187
Interestingly, I'm now trying to use env vars for credentials to test on our build server (BuddyBuild), and passing the credentials are variables causes this error on `0.20.0.56`, where pasting the same credentials into `~/.aws/credentials`, etc. works fine. Also tried quoting the strings, and got the same errors

[2019-06-18 12:05] blender commented on #187
I think I have identified the problem on `0.23.0.60`. Not sure about the other versions. As you can see from [here](https://github.com/blender/Rome/blob/b79a73e91eb957111b1d8742e41a1a3d10ffcd9e/integration-tests/current-framework-yml.bats#L58) I'm also using env variables

[2019-06-18 12:22] itsthejb commented on #187
My issue appears to be https://github.com/blender/Rome/issues/102. Which seems to boil down to blender needing to have the vars `export`ed. This would require re-`export`ing vars from the build server; which is rather messy. Currently I'm working around this by writing the vars to `~/.aws`:

[code]

[2019-06-18 12:35] blender commented on #187
Le't move to #102

[2019-06-18 12:38] blender commented on #102
@itsthejb

Unless you're trying to use the "engine" feature, Rome doesn't launch any child process. It's using system provided access to env variables via http://hackage.haskell.org/package/base-4.12.0.0/docs/System-Environment.html#v:lookupEnv

I doubt this is bug in a core Haskell library. Rather something is interfering with your VM's env variables. In Travis for example reading env works just

[2019-06-18 12:42] itsthejb commented on #102
Debugging on a BuddyBuild remote session:

[code]

Then, `rome download --skip-local-cache` results in `The AWS Access Key Id you provided does not exist in our records.` for all dependencies

[2019-06-18 12:49] blender commented on #102
try `AWS_REGION= ... AWS_ACCESS_KEY_ID=... AWS_SECRET_ACCESS_KEY=... rome ...`

[2019-06-18 12:50] blender commented on #102
Also, if you are using Minio instead of S3 you need AWS_ENDPOINT

[2019-06-18 13:22] itsthejb commented on #102
We aren't using Minio, that was my error since I found that issue in the issue list first.

Interesting discoveries, using version `v0.20.0.56` on BuddyBuild:

[code]

List dependencies... whereas:

[code]

Complains about the key. Currently the bucket is (even) completely public (for testing purposes!), so this is strange

[2019-06-18 13:40] blender commented on #102
Try running this on CI: https://mega.nz/#!ik1xVArD!7mq-Dtzb07yMZccNSc6rwjYB_enRw6t8XVxDNWEqcWY

<detail> Source Code

[code]

</detail>

[2019-06-18 14:00] itsthejb commented on #102
Can check that in a moment. However, more relevantly, perhaps; we use a wrapper around `aws` CLI here, which writes `~/.aws/credentials` with the following keys:

[code]

I suspect for this to work I potentially need to pass all of them...? Also, please forgive my relative AWS ignorance, not my speciality 😢

[2019-06-18 14:03] itsthejb commented on #102
^ Got it now, I think! I just need to pass _all_ of those as env vars:

- `AWS_REGION`
- `AWS_ACCESS_KEY_ID`
- `AWS_SECRET_ACCESS_KEY`
- `AWS_SESSION_TOKEN`
- `AWS_SECURITY_TOKEN`

Generally caused by my ignorance. Perhaps a docs improvement would be to list all of those keys as potential candidates, and something along the lines of; "if these are listed in your profile in credentials, you need to

[2019-06-18 14:05] blender commented on #102
I have no idea what AWS_SESSION_TOKEN or AWS_SECURITY_TOKEN are doing. I doubt I'm reading them on the latest version.

[2019-06-18 14:58] itsthejb commented on #102
Now confirmed that I have something _basically_ working, although not enough to exactly confirm what the issue is. I'll update again when I know. Other minor issue I'm now seeing is Rome produces no output when running via the build server. I also checked redirecting stderr to stdout to see if BuddyBuild only outputs stdout (seems unlikely). Could there be something sensitive that might prevent Ro

[2019-06-18 15:18] blender commented on #102
No, there is no redirection of std input or output. You can use `-v` for force more verbose info

[2019-06-18 16:23] blender commented on #187
never use type aliases

[code]

[2019-06-19 08:43] #187 closed

[2019-07-02 00:55] ekimia opened #194 "multiple repositoryMaps for a given repo"
in the README theres only 1-1 examples, how would I specify multiple? e.g.

[code]

Once i figure it out ill submit a PR

[2019-07-02 06:52] blender commented on #194
- name
- name

[2019-07-02 09:05] #194 closed

[2019-07-02 16:37] ekimia opened #195 "rome download when using a custom engine doesnt place items in Carthage directory"
Almost done writing an engine for Google Cloud Storage (yes finally @blender), but i noticed the download command only dumps them in the root folder, and there's no indication for me to move them to the respective directories. Im referring to this from the help text:

[code]

[2019-07-02 17:37] ekimia commented on #195
i was wrong - the path is maintained when unzipping

[2019-07-02 17:37] #195 closed

[2019-07-20 18:09] LukasHromadnik opened #197 "Unable to upload / download data from remote cache"
Hello. :)

First of all thank you for all your hard work. We love using Rome.

## Bug Report

After updating to the latest version `0.23.1.61` we are unable to upload or download any file from our remote cache. The previous version works just fine. When I use the verbose output I get this error

[code]

I tried to add the missing parameter to the AWS config file ([see documentation](https://docs.a

[2019-07-20 19:26] tmspzz commented on #197
Hi,

I don’t see this happening with S3. Can you help me reproduce?

[2019-07-21 12:04] LukasHromadnik commented on #197
I don't know if it makes a difference but we use Glacier instead of S3.

[2019-07-22 08:24] tmspzz commented on #197
@LukasHromadnik , don't use Glacier. There is a bug in the AWS library https://github.com/brendanhay/amazonka/issues/511

If you still want to use glacier, [implement your own engine](https://github.com/tmspzz/Rome#custom-engine)

[2019-08-05 17:19] tedgonzalez commented on #177
Does it make sense to create a custom engine that does this?

[2019-08-05 19:22] tmspzz commented on #177
I don’t think it’s even possible as information needed to do so is not passes to engine, and from the engine it cannot be passed back to Rome.

Even if it could, that would be a bad practice.  Don’t store copy of source code on S3 or what not. Source control (git, mercurial, svn) has been invented to tackle exactly this problem.

Just fork the repositories and push them to a remove you control (Gi

[2019-08-09 12:18] itsthejb opened #198 "Local cache: Add ability to _not_ Zip"
## Enhancement Suggestion / Bug Report

It occurred to me that, since most users will be using APFS now, zipping frameworks inside the local cache seems to waste a great deal of disk space when frameworks in the cache are shared amongst multiple local projects

**Steps which explain the enhancement or reproduce the bug**

1. Set up two projects locally that share the same dependency
2. Run Rome wi

[2019-08-09 12:43] tmspzz commented on #198
@itsthejb thanks for the suggestion! There are some details that make this challenging, for example you made the assumption that zip is called `TheFramework.zip` but it's actually not., the naming pattern is [described here](https://github.com/tmspzz/Rome#cache-structure). The name itself contains metadata on what the zip is.

Once unzipped, that metadata (fundamental for how rome works) is gone a

[2019-08-09 13:09] tmspzz commented on #198
Sorry from what I read I don't see indications that APFS is sharing blocks between two different files that are copies of each others, I only read about modifying and versioning. Can you point me to where it says that copies are treated that way?

[2019-08-19 15:57] itsthejb commented on #198
https://developer.apple.com/documentation/foundation/file_system/about_apple_file_system. However, this appears to apply only to cloned volumes. I feel I heard _somewhere_ that a simple `cp` would support copy on write...

[2019-09-13 10:34] PatrickKaalund commented on #131
I also have an issue related to this.

First build locally and upload to Rome.
Second download from Rome contains errors like:

Error: could not download ZIPFoundation.1D89912F-74C5-3987-9BBF-03F955E168FD.bcsymbolmap : The specified key does not exist.
Error: could not download ZIPFoundation.F3D2BDEF-A362-3999-B243-CB8BE1FA09CB.bcsymbolmap : The specified key does not exist.

Investigating the .bc

[2019-09-13 13:14] tmspzz commented on #131
@PatrickKaalund  take a minute to read the discussion. It's normal for a number of `.bcsymbolmap` to be missing.

Rome doesn't touch any path in the symbolmap

[2019-09-13 13:37] PatrickKaalund commented on #131
Alright.

Meaning it ins't a Rome problem with the absolute paths as well?

Did you work on a system to prevent throwing errors on specific libs?

[2019-09-13 13:55] tmspzz commented on #131
The absolute paths contained is the symbolmap are from the machine that built the framework. Rome doesn't, and shouldn't, touch that.

Desymbolication will work just fine.

[2019-09-19 00:48] elliottwilliams opened #200 "Avoiding binary incompatibilities between codependent frameworks"
Right now, Rome uses the resolved version of a framework to distinguish it inside the cache. This is nice because it parallels what Carthage writes to the resolved Cartfile, but it leads to potential binary incompatibilities between when frameworks in a project depend on each other. If one framework is updated but its consumer isn't, the latter framework can become out of sync in the cache and lea

[2019-09-19 19:26] tmspzz commented on #200
I think you’re holding it wrong (you can of course disagree with me).

If you update a leaf dependency from 1.4.0 to 1.5.0 with a breaking change, you’re violating semantic versioning rules.

On top of that, you should update also the version on node by at least a minor number since you would have to update the api at call site of leaf.

[2019-09-24 22:03] elliottwilliams commented on #200
Ah, I came back to agree with your stance on semver 😆 But I'm happy to discuss further.

I think this _is_ a reasonable stance—the real point of contention is whether an ABI-breaking but source-compatible change is "breaking" the context of semver. IMO, It probably is if you're thinking about frameworks as discrete binaries (which Apple terms ["binary frameworks"](https://developer.apple.com/video

[2019-09-24 22:05] elliottwilliams commented on #200
While I was messing around with this, I wrote an implementation of the above algorithm in Python, which might be relevant for discussion :) https://gist.github.com/elliottwilliams/fdf7730ef06809abeb88299a97d57ffa

[2019-10-03 06:05] el-hoshino opened #201 "[Feature Request] Skip s3Bucket cache source if aws credentials unavailable rather than stop whole program"
## Enhancement Suggestion

    Currently if I write 2 cache sources in Romefile, one as s3Bucket and another as local, and if my PC simply doesn't have AWS access credentials, when I try to download the cache via Rome it simply ends with an error:

[code]

    Why not just skip this source and try to use the other source, which I specified in Romefile as local :)

**Steps which explain the enhance

[2019-10-08 11:53] tmspzz commented on #201
Sounds good!

[2019-10-09 21:57] edulpn opened #202 "S3 Errors on Download: The specified key does not exist."
## Enhancement Suggestion / Bug Report

Rome uploads to S3 bucket seem to work fine, but I get a lot of errors when I try to download. Not sure if it's trying to download some files that were not uploaded due to architecture/platform specific build (and it shows as an error, but it's simply a file that was not uploaded) or if I'm missing some kind of bucket permission (I already have list, write a

[2019-10-09 22:30] tmspzz commented on #202
Are you sure these are not bcsymbolmap or dsyms? It’s normal for sumbolmaps to be missing.

Can you please check the other similar issues?

Can you share your Cartfile and Cartfile resolved?

[2019-10-10 14:09] edulpn commented on #202
Cartfile:

[code]

Cartfile.resolved
[code]

`rome upload --platform iOS`
[code]

`rome list --missing --platform iOS` (note that the guys that are missing here only uploaded the `.version` on the upload step)
[code]

[2019-10-10 14:15] edulpn commented on #202
Wait, I see a pattern here... the guys that are missing generate `.framework` files with different names than the actual repository name on Github.

[2019-10-10 14:18] edulpn commented on #202
oops
https://github.com/tmspzz/Rome/issues/76

yeah, it's not that clear on the docs, but I can see how this can be an issue

[2019-10-10 14:19] tmspzz commented on #202
You need to write a "RepositoryMap"

https://github.com/tmspzz/Rome#repositorymap

[2019-10-10 14:20] edulpn commented on #202
Yeah, I'll try to fix it

[2019-10-10 14:31] tmspzz commented on #202
No problem, please try and if there are no further issues consider closing this one.

[2019-10-10 14:31] edulpn commented on #202
@tmspzz one more question, though... what about repositories that generate multiple binaries? how do I handle those?

[2019-10-10 14:38] tmspzz commented on #202
add more names https://github.com/tmspzz/Rome#multiple-aliases

[2019-10-10 14:39] edulpn commented on #202
awesome...

[2019-10-12 00:27] edulpn commented on #202
@tmspzz After having lot's of issues with Carthage (the kind of ones that brought me to Rome, in the first place), the `repositoryMap` session worked, but I'm still having issue with one last dependency. `customer-ios` is an ObjectiveC lib that uses Cocoapods for it's own dependencies. My Romefile is as follows:

[code]

Thing is, `rome list --missing --platform iOS` says that `customer-ios` is mi

[2019-10-12 00:37] edulpn commented on #202
Also, the `--cache-builds` on `customer-ios` gives me an invalid cache message when I run `carthage bootstrap`:

`*** Invalid cache found for customer-ios because the binary checksum did not match, rebuilding with all downstream dependencies`

[2019-10-12 09:25] tmspzz commented on #202
If any of the names you have listed for customer-ios is missing, Rome will
report it as missing. I see you are listing TTTAttributedLabel is this a product of that workspace?

About the checksum, there is probably a difference between what’s in your version file and the binaries that’s are downloaded.

Sent from my iPhone

[2019-10-12 14:11] edulpn commented on #202
`customer-ios` generates several products from it's Cocoapods shared schemes, `TTTAttributedLabel` is one of them, including the one I was actually missing: `libPusher`. It generates `Pusher.framework`. Now `rome list --missing --platform iOS` is working fine, but still missing the checksums, I'll look further into that... Original issue closed, thanks @tmspzz !

[2019-10-12 14:12] #202 closed

[2019-11-01 23:20] timbo24 commented on #131
Is there anyway to suppress missing .bcsymbolmap errors when downloading from the cache?

[2019-11-04 14:05] tmspzz commented on #131
`rome ... grep -v "Error: *.*\.bcsymbolmap"`

[2019-11-13 13:19] adya opened #203 "Static repositories doesn't have separate cache version"
## Bug Report

Rome doesn't add `static` suffix as said [here](https://github.com/tmspzz/Rome#cache-structure):

**Steps which reproduce the bug**

1. Set in Romefile `repositoryMap`:
[code]
2. Build a static framework using techniques like [this](https://github.com/Carthage/Carthage/blob/master/Documentation/StaticFrameworks.md)
3. Perform `rome upload --platform iOS --cache-prefix RomeCache`.

*

[2019-11-13 16:53] tmspzz commented on #203
Thanks, I'll look into it

[2019-11-13 22:22] timbo24 opened #204 "Custom Engine downloads to `cwd` instead of a temporary directory"
## Enhancement Suggestion / Bug Report

Can't eliminate errors on successful downloads using a custom engine

**Steps which explain the enhancement or reproduce the bug**

Cartfile.resolved:

git "ssh://git@source.vivint.com:7999/iOS/VIVProtobuf.git" "3.5.1"

1. When running> rome download --platfform iOS,watchOS
2. Ignoring missing bcsymbolmaps

**Current behavior**

Error: could not download Pro

[2019-11-13 22:22] tmspzz commented on #203
So this is a combined problem.

1) Currently .version files for static frameworks don't work https://github.com/Carthage/Carthage/pull/2900

2) This naming scheme `<git-repository-name>/.<framework-name>.version-(static-)<version-hash>` is not valid as the .version file is over the entire products of `Dependency`. This is my mistake in the documentation.

As for your case I'm not sure why carthage

[2019-11-13 23:06] timbo24 commented on #204
It seems like it only throws these errors if I haven't uploaded from branch I'm downloading in.

If I upload first and then download I get a success:

Copied .VIVProtobuf.version to: Carthage/Build/.VIVProtobuf.version

[2019-11-14 08:50] tmspzz commented on #204
The errors are thrown by the engine and reported to rome, so this looks like a problem in your engine?

Am I missing something?

[2019-11-14 08:58] adya commented on #203
Hi, thanks for the quick reply :) Yes, for now, I'm using separate `cache-prefix` for each config.

As for SHA, they are indeed different.

Thanks, for pointing to `Carthage` issue, I've mistakenly assumed that the issue is on the `Rome` side.
Should we close this issue then? Or better leave it and track whether it will work when Carthage provides support for static versions?

[2019-11-14 09:00] tmspzz commented on #203
When carthage will work properly this should work well by itself.

@adya I'll be glad if you could close the issue

[2019-11-14 14:35] timbo24 commented on #204
How do we report to rome a success or error? I'm exiting the engine with 0 on success yet rome still reports an error. But somehow after I upload and then download it changes even though the output of download is the same.

[2019-11-14 15:14] tmspzz commented on #204
via POSIX exit codes.

https://github.com/tmspzz/Rome/blob/master/src/Engine/Uploading.hs#L128

[2019-11-14 20:26] timbo24 commented on #204
I resolved it, it doesn't make sense to me why I'd download directly to the intermediate location of the <output path> and not just to the cache location. Why not just use the cache and the Carthage/Build locations? Why clutter up the project space with a bunch of <Framwork> directories?

[2019-11-14 23:17] tmspzz commented on #204
Because your engine is __driven by__ the rome's logic. For example the engine doesn't know if a framework is or dynamic nor if it's just one build product out of many for a project.

Since it doesn't have a the complete picture of what the logic is (to keep things simpler for your scripting side), you have to respect the conventions. The alternative would be to expose all information via CLI param

[2019-11-14 23:22] tmspzz commented on #204
By the way it would be amazing if you could contribute a reusable version of your script that uploads to Nexus for others to reuse as well 🙇

[2019-11-15 14:52] timbo24 commented on #204
Maybe I'm doing something wrong but it sounds like for rome to work you have to download directly to the output-path specified by the second param to download coming into the engine, which in our case is in our project dir. Why not instead expect to download directly to the cache and from the cache copy over the frameworks directly to the Carthage/Build directory. After running rome download our p

[2019-11-15 16:18] tmspzz commented on #204
Thanks 🙇

Let me check once again.

[2019-11-15 16:26] timbo24 opened #205 "Rome List does not output availability"
We have a few Carthage dependencies that we don't build, carthage checks out fully built frameworks. I'd like to still be able to upload the .version files for these to the cache and download them but in our CI we use the rome list to determine which dependencies to upload and since these don't have platforms rome list doesn't work for these.

Is there a way to have these uploaded even though they

[2019-11-15 16:43] tmspzz commented on #205
I'm not sure I understand what "they don't have a platform" means. Do you mean there is no binary produced from them?

[2019-11-15 16:47] tmspzz commented on #204
can you paste you Romefile's cache's section? Are you  a local cache? are you passing `--skip-local-cache`?

[2019-11-15 16:47] timbo24 commented on #205
No binary is produced. But I want the version file to indicated that after carthage checkout the binary is available from the checkouts dir.

[2019-11-15 16:48] timbo24 commented on #204
I'm using a local cache:

cache:
  local: ~/Library/Caches/Rome
  engine: ../scripts/romeEngine.rb

[2019-11-15 16:51] tmspzz commented on #205
`list` only hits the binary because that's the important bit.

Also .version files are optional, you have to enable `--cache-builds` in carthage

That said, rome will still download or upload anything it finds.

My suggestion is filter out from the outout of `list` the repos that don't produce binaries.

[2019-11-15 16:51] tmspzz commented on #204
and you're not passing `--skip-local-cache` ?

[2019-11-15 16:54] timbo24 commented on #204
Yes, I am not using --skip-local-cache

[2019-11-15 18:02] timbo24 commented on #205
Yeah, if I just manually add them to the cache this works fine.

[2019-11-15 18:02] #205 closed

[2019-11-16 18:31] tmspzz commented on #204
Ongoing fix here: https://github.com/tmspzz/Rome/pull/206

[2019-11-20 09:50] tmspzz commented on #204
@timbo24 please try pre-release https://github.com/tmspzz/Rome/releases/tag/v23.2.62

[2019-11-22 08:33] #203 closed

[2019-11-27 08:58] tmspzz commented on #204
@timbo24 any feedback? I would like to merge and release today

[2019-11-28 13:46] gyulavoros opened #208 "Download from publicly readable S3 bucket with no credentials"
## Enhancement Suggestion

I would like to set up a workflow, where only a CI service would have proper AWS credentials configured (and have write access to an S3 bucket) and all the other developers in the team would be able to download cached dependencies without providing any environment variables (`AWS_ACCESS_KEY_ID` / `AWS_SECRET_ACCESS_KEY`) or stored credentials (`.aws/credentials`).

**Cur

[2019-11-28 14:09] tmspzz commented on #208
Have you tried with fake credentials?

also, you can implement your own engine that does exactly what you're asking for. See https://github.com/tmspzz/Rome#custom-engine and an example at: https://github.com/tmspzz/Rome/blob/master/example-engines/google.py

[2019-11-28 14:26] gyulavoros commented on #208
Fake values are ending up with: `The AWS Access Key Id you provided does not exist in our records.`.

Thx, I'll take a look at the custom engine. Do you think it would worth baking it into the default S3 engine itself?

[2019-11-28 16:02] #177 closed

[2019-11-28 16:04] tmspzz commented on #208
I could add it, but for one it would contradict this other ticket https://github.com/tmspzz/Rome/issues/201 i believe. Second, it would take me much longer than it would take you to make a couple of `curl` or `wget`requests :)

[2019-11-28 23:01] gyulavoros commented on #208
If I'm going to create a custom engine with simple `curl` or `wget` requests, then I'll need to take care of uploading as well right? There is no way to tell Rome to use the S3 engine when running on CI so I can easily upload dependencies, but switch to the custom engine for downloading, so I can skip AWS authentication in a local environment.

[2019-11-29 09:28] tmspzz commented on #208
Yes, you will have to take care of uploading and downloading. You could use the AWS cli inside your engine for example.

[2019-11-30 14:10] gyulavoros commented on #208
Roger, thx for all the information!

[2019-11-30 14:10] #208 closed

[2020-01-13 18:05] christophercotton opened #209 "Should not print error if the file attempting to delete does not exist for `bcsymbolmap`"
When doing the first download, it seems like the "Delete of the bcsymbolmap" causes an error to be printed.

**Reproduction Steps:**

1. Create a Romefile with Alamofire
2. Do the build, and upload the files.
3. Do rome download

** Expected behavior**
Will download the needed files and display:

[code]

**Observed behavior:**

[code]

It looks like in the line:

https://github.com/tmspzz/Rome/blo

[2020-01-15 09:26] jazz-mobility opened #210 "AWS role based access is not working"
## Bug Report

Our company uses AWS azure based login (SSO) and we are using AWS named profiles.
CMD tool for AWS login - https://github.com/sportradar/aws-azure-login
After a successful login, it creates the credentials with temporary access token and configs, in .aws folder.
Whenever I am running `rome upload/download` I am getting this error -
[code]

Generated AWS Credential file sample
[code]

[2020-01-16 16:06] tmspzz commented on #210
@jazz-mobility thanks for reporting. session tokens are not currently supported.

You have 3 options:
1. wait
2. use STS
3. implement your own engine

[2020-01-16 16:14] tmspzz commented on #210
Not sure what these keys prefixed with `azure` are, but they don't seem to be compatible with AWS to me. Escalation via `role_arn` should work.

[2020-01-16 16:22] jazz-mobility commented on #210
@tmspzz We are using STS with session tokens. I added role_arn and got this error.
 `The AWS Access Key Id you provided does not exist in our records.`

[2020-01-17 05:11] tmspzz commented on #209
Please see https://github.com/tmspzz/Rome/issues/178#issuecomment-479890144

I understand this is annoying but I don't have plans  to fix it.

I'm open to contributions fixing this tho ;)

[2020-01-17 05:34] tmspzz commented on #210
The support for STS is detailed in #175 and implemented in https://github.com/tmspzz/Rome/pull/179

here is the current implementation: https://github.com/tmspzz/Rome/blob/5ba4eec0b4785bf5c6008ea1946e000bd3c8ea37/src/Lib.hs#L89-L150

I think this is the problem in this case: https://github.com/tmspzz/Rome/blob/10e7a05f2cf5798b0fc41e0f20232b891ee1f64e/src/Network/AWS/Utils.hs#L68-L78

The current i

[2020-01-18 09:27] tmspzz commented on #210
@jazz-mobility please try https://github.com/tmspzz/Rome/releases/tag/v23.2.63

[2020-01-18 11:26] jazz-mobility commented on #210
Thanks for the quick fix @tmspzz, this is fixed now. 🎉

[2020-01-20 08:35] BastianKusserow opened #213 "Repository map for multiple schemes"
## Question
I'm currently struggling to set up the repositoryMap for `aws-sdk-ios`.
For simplicity, take the following Cartfile:

    github "aws-amplify/aws-sdk-ios" "2.12.2"

The aws dependency consists of several schemes, like AWSCore, AWSS3, ...
So the question is, how can I setup the repository map, so that rome will upload/download all of the frameworks under `aws-sdk-ios`?

**Rome version:*

[2020-01-20 18:47] martianplatypus commented on #209
Hi @tmspzz, what would like to see as a solution? Rename the error to a warning as proposed in #178 and #109 or what @christophercotton is suggesting here?

[2020-01-20 21:56] christophercotton commented on #209
@martianplatypus in this case, I don't think it should be a warning. It is the normal operation that on a CI that the file doesn't exist since you are doing a new checkout. In this case it should just check to see if the file exists before trying to delete. I will try adding that check at some point, though I need to get setup to do Haskel.

[2020-01-20 22:52] jazz-mobility commented on #210
@tmspzz Waiting for the final release to roll out this amazing tool in our iOS team. :)

[2020-01-27 11:12] jonkan opened #214 "Invalid option when using both --romefile and --concurrently"
## Bug Report

The following command works as expected:
[code]

But swapping the order of the romefile and concurrently makes it fail:
[code]

Swapping the parameters is no biggie, but I'm using the [fastlane-plugin-rome](https://github.com/OpenShelter/fastlane-plugin-rome) which puts them in that (failing) order.
Seems like a bug in rome, or am I missing something?

**Rome version:**

0.23.1.61 -

[2020-01-27 13:35] tmspzz commented on #214
I'll have to check, there is probably an error in the CLI argument parsing options.

[2020-01-27 14:20] tmspzz commented on #210
@jazz-mobility the release is out on homebrew, coming up asap on cocoapods

[2020-01-27 14:28] tmspzz commented on #209
@martianplatypus the fix is to check if the file exists and only delete it in that case

[2020-01-27 14:30] tmspzz commented on #213
In case anyone else stumbles on this, this is the relevant bit in the README https://github.com/tmspzz/Rome#multiple-aliases

[2020-01-27 15:47] tmspzz commented on #210
https://github.com/tmspzz/Rome/releases/tag/v0.23.2.63 is now out on both homebrew and cocoapods

[2020-01-27 15:47] #210 closed

[2020-01-30 13:37] tmspzz commented on #204
This should be fixed in https://github.com/tmspzz/Rome/releases/tag/v0.23.2.63

[2020-01-30 13:37] #204 closed

[2020-02-06 15:18] aturlier opened #215 "Using rome upload fails before calling engine"
## Bug Report

When using Rome with an engine, upload fails after zipping the first framework. list works fine

**Steps which explain the enhancement or reproduce the bug**
Here's my Romefile :
[code]

The RomeEngine script starts with this :

[code]

`rome upload -v` output :

[code]

My script isn't called.

**Rome version:**

    0.23.2.63

**OS and version:**

   macOS Catalina 10.15.2

[2020-02-07 05:40] tmspzz commented on #215
My guess is that `Alamofire.framework-5.0.0-rc.3.zip` is a directory. Did you tamper with cache?

[2020-02-07 09:27] aturlier commented on #215
I did not. I tried deleting the Carthage folder, running `carthage bootstrap --platform iOS --no-use-binaries`, then `rome upload -v`. The same thing happens :

[code]

When changing the Romefile to a local cache, the zipping is successful. I don't think the issue comes from my script, as it sin't even called.

Here is my Cartfile if you want  :
[code]

[2020-02-07 09:33] aturlier commented on #215
Okay I found the error.

I had some folders that weren't deleted from a previous canceled `rome upload`, and rome was having trouble with that

[2020-02-07 09:33] #215 closed

[2020-02-27 13:40] varunrathi28 opened #216 "Internal dependencies are Built every time"
## Enhancement Suggestion / Bug Report

    Support for internal dependencies.

**Steps which explain the enhancement or reproduce the bug**
1. I have a carthage dependency called "facebook-objc-sdk".
2. Cartfile.Resolved contains the entry for "facebook-obj-sdk" with "Version".
3. On running bootstrapping, carthage downloads internal dependencies like FacebookLogin.framework, FacebookCore.framewo

[2020-02-27 13:55] tmspzz commented on #216
Can you elaborate on "Internal dependencies"?

maybe this is what you need? https://github.com/tmspzz/Rome#multiple-aliases

[2020-03-11 09:38] rouzbeh-abadi opened #217 "Getting "the specified key does not exist" after changing AWS access key"
Hello,
Recently I have a started working on a project that uses Carthage for rome for CI testing. Since  i'm quite beginner in using Carthage and rome, I tried to use the initial configuration  but after changing the AWS access code, everything gets broken.

Here is the carfile content:

[code]

and Rome file:

[code]

I got the the error when I am trying to download packages

**Steps which explai

[2020-03-11 09:57] tmspzz commented on #217
Those are not errors, you can ignore them

[2020-03-11 09:57] #217 closed

[2020-03-11 09:58] tmspzz commented on #217
See: https://github.com/tmspzz/Rome/issues/209 & https://github.com/tmspzz/Rome/issues/109

[2020-03-11 10:20] rouzbeh-abadi commented on #217
I still have problem because jenkins cannot read those frameworks

[2020-03-11 10:22] rouzbeh-abadi commented on #217
Thank you very much for your response.

[2020-03-11 10:42] tmspzz commented on #217
[code]

This symbolmap does not exist because it's probably for a platform you don't build for.

[2020-03-11 14:08] tmspzz commented on #216
@varunrathi28 did my suggestion solve your problem?

[2020-03-17 10:54] jimmya opened #218 "Bcsymbolmap hash differs when uploading and downloading"
## Enhancement Suggestion / Bug Report

I noticed when running the download command the hashes for the bcsymbolmap file is different than when running the upload command. This results in errors when downloading the bcsymbolmap file.

**Steps which explain the enhancement or reproduce the bug**

1. run the upload command and notice the hashes for the bcsymbol map
in my case:

and

2. run the downlo

[2020-03-17 20:10] tmspzz commented on #218
Can you elaborate on your Cartfile? What platforms are you uploading/downloading for?

bcsymbolmaps  ids are generated for all platforms. It's ok for the to be missing for the platforms you don't build for.

Integration tests cover this scenario and I don't see any discrepancies https://github.com/tmspzz/Rome/blob/master/integration-tests/dynamic-frameworks-yml.bats

[2020-03-18 13:36] jimmya commented on #218
I did another small test with a smaller project.
My Cartfile looks like this:
[code]
Cartfile.resolved:
[code]
Romefile:
[code]
And when running:
`rome upload --platform ios --cache-prefix swift-5.0`
the bcymbolmap hashes are:
[code]
And when running:
`rome download --platform ios --cache-prefix swift-5.0`
the bcymbolmap hashes are:
[code]

[2020-03-18 13:51] tmspzz commented on #218
Thanks, I'll take a look asap

[2020-03-18 19:29] tmspzz commented on #218
Here is my test:

[code]

And here are the bcsymbolmaps uuids for SwiftyBeaver iOS

[code]

I don't see a discrepancy in the bcsymbolmaps' UUIDs that are uploaded and downloaded.
Take for example `88613523-0EAB-3C9A-9736-35B126482970`. It's both uploaded and downloaded.

Some bcsymbolmaps are missing because there are no bcsymbolmaps produced for that architecture.

[2020-03-18 20:18] tmspzz commented on #218
@jimmya maybe it's relate to the use of the engine. Can you try without and just with the local cache like I did?

[2020-03-25 15:04] tmspzz commented on #218
@jimmya any idea?

[2020-03-30 11:20] jimmya commented on #218
I'm sorry for my late reply @tmspzz I tried without the engine and only local cache and then it works fine. I'm puzzled. Could you perhaps look at my engine and see if you can spot an obvious mistake:
[code]

[2020-04-07 09:06] nugmanoff opened #221 "Rome confusing versions of parent & transient dependency"
##  Bug Report

For some reason Rome is looking for wrong version of the framework

**Steps which explain the enhancement or reproduce the bug**

carthage-rome.sh
[code]

Cartfile contents:
[code]

Cartfile.resolved contents:
[code]

Romefile contents:
[code]

**Current behavior**

It messes up the versions of SwiftEntryKit and QuickLayout and tries to reupload them to Cache every time but does it

[2020-04-07 10:07] tmspzz commented on #221
@nugmanoff Thanks for reporting. I'll look into this

[2020-04-14 16:54] tmspzz commented on #221
@nugmanoff

github "huri000/QuickLayout" "3.0.0"
[code]

QuickLayout is not a product of SwiftEntryKit. Your Romefile is wrong. This is a problem on your side. You should not need an entry in the Romefile for neither.

[2020-04-14 16:54] #221 closed

[2020-04-14 17:02] tmspzz commented on #216
Closing the issue for inactivity. Feel free to comment and I'll reopen

[2020-04-14 17:02] #216 closed

[2020-04-22 11:38] didix21 opened #223 "Add CHANGELOG.md"
## Enhancement Suggestion

   Can be insteresting to add a CHANGELOG.md in order to see the main changes between Rome versions.

**Steps which explain the enhancement or reproduce the bug**

1. You could use a tool like: [github-changelog-generator](https://github.com/github-changelog-generator/github-changelog-generator) wich can help to create it automatically.

[2020-04-22 13:45] tmspzz commented on #223
Sounds like a good idea. Can you help set this up?

[2020-04-22 15:32] didix21 commented on #223
yes, I can give a hand with this.

[2020-04-23 05:50] tmspzz commented on #223
Merged. Thanks again

[2020-04-23 05:50] #223 closed

[2020-04-27 11:01] dalu93 commented on #218
Hi,

I'm using the script from @jimmya for the same purpose. I can see the same error as he's describing it.

Here is my console output while uploading "nantes" library

[code]

While here the output while downloading "nantes":

[code]

[2020-04-27 11:32] tmspzz commented on #218
Run before uploading  `xcrun dwarfdump --uuid YourFramework.framework/YourFramework`
Run on the uploaded copy  `xcrun dwarfdump --uuid YourFramework.framework/YourFramework`
Run on the downloaded copy  `xcrun dwarfdump --uuid YourFramework.framework/YourFramework`

all uuids should match.

Repeat the same with dSYMs

[2020-04-27 11:53] dalu93 commented on #218
### Before uploading (right after `carthage bootstrap --platform iOS`:

[code]

[code]

The rest is available in my previous post. And you can see that from the upload logs, Rome is not uploading the symbols for `AA9EC031-715E-3E44-A9FE-97E68CBAC0F2` and `5103399F-663F-3128-86D4-D4E53B200DD7`, but then it tries to download them. To notice that the symbol maps are for i386 and x86_64 architectures.

[2020-04-27 12:06] tmspzz commented on #218
Your problem doesn't seem the same as @jimmya 's. What's you are seeing in perfectly normal, please see comment https://github.com/tmspzz/Rome/issues/178

[2020-04-27 12:44] dalu93 opened #225 "Framework always missing using custom-engine"
## Enhancement Suggestion / Bug Report

When running `rome list --missing --platform iOS` I see the framework which was just uploaded using custom-engine.

**Steps which explain the enhancement or reproduce the bug**

As a continuation of my post https://github.com/tmspzz/Rome/issues/218#issuecomment-619934922 I tried to run `rome list --missing --platform iOS` and the result is unexpected

**Curr

[2020-04-27 12:59] dalu93 commented on #225
I'm sorry, I just figured out that the cache prefix is entirely created from our side and it's seem flaky. My bad.

[2020-04-27 12:59] #225 closed

[2020-05-12 11:49] jazz-mobility opened #227 "Xcode version specific upload/download"
## Enhancement Suggestion

First of all many thanks for this great tool, it saved a lot of time for us.
I would like to propose a new enhancement to support the upload and downloads based on xcode version.
As a big iOS team, we are using multiple versions of XCode cmd and it is really hard to move everyone at once. We are facing issues where binaries are conflicting swift version issues.
on CI, we

[2020-05-12 19:07] tmspzz commented on #227
@jazz-mobility have you tried using `--cache-prefix`? it is exactly for this purpose

[2020-05-12 22:22] jazz-mobility commented on #227
Thanks @tmspzz
I will use it. Sorry, I missed it from the Readme.

[2020-05-13 07:39] tmspzz commented on #227
@jazz-mobility let me know if this solves it for you. If it does consider closing the issue.

[2020-05-13 14:47] jazz-mobility commented on #227
Thanks @tmspzz It worked. Closing the issue.

[2020-05-13 14:47] #227 closed

[2020-06-19 14:23] dalu93 opened #228 "Concurrent downloads for remote cache"
## Enhancement Suggestion

Would it be possible to have concurrent downloads while fetching the cached data, either through custom engine or S3 bucket?

**Steps which explain the enhancement or reproduce the bug**

An example application usually have around 5-10 dependencies. Even if the download speed is good enough, this is taking more than 1 minute (in my specific case, 5 minutes). I believe th

[2020-06-20 00:50] tmspzz commented on #228
https://github.com/tmspzz/Rome#uploading

[2020-06-20 00:50] #228 closed

[2020-06-26 17:18] nugmanoff opened #229 "Nexus as example engine"
Hello there! Thanks for an amazing tool, it saved our team quite a lot of precious time.

I'd love to pay back & contribute to the project, but I am by no means familiar with Haskell & don't have that much time to learn it.
So I was thinking about contributing by adding upload to Sonatype's Nexus Repository as an example-engine. Because it is becoming more popular and getting more traction in the

[2020-06-26 17:22] tmspzz commented on #229
Please do! 🙇‍♂️  That would be great!

[2020-06-27 13:58] nugmanoff commented on #229
@tmspzz great! I'll create PR then & link it with this issue in upcoming weeks

[2020-07-10 07:33] kientux opened #230 "[Question] Framework produces both static and dynamic output"
My app has [`SocketRocket`](https://github.com/kientux/SocketRocket) as dependency. It produces both static and dynamic output. Rome will upload only static OR dynamic framework so everytime I use `rome download`, carthage will report that `SocketRocket` cache is not valid, and it will rebuild.

Is there any option that specify a framework is both dynamic and static?

[2020-07-10 09:18] tmspzz commented on #230
I am not sure. You can maybe try:

[code]

If it doesn't work...It's simply something I didn't think of 😓

I can think of maybe another hack where you can have 2 `Romefile`s. The second one would have just the static or dynamic version in the` repositoryMap`.

[2020-07-11 03:54] kientux commented on #230
For now I have to disable static scheme so it produces only dynamic framework. But using 2 Romfile sounds like an acceptable workaround 😊

[2020-07-11 22:06] tmspzz commented on #230
Let me know if it work!

[2020-09-22 14:18] congnd opened #232 "Losing debug capability when using cached builds downloaded by Rome"
## Enhancement Suggestion

Losing debug capability when using cached builds downloaded by Rome.

**Steps which explain the enhancement or reproduce the bug**

1. Build and cache using Rome
2. Delete all Carthage's DerivedData in `/Users/USER/Library/Caches/org.carthage.CarthageKit/DerivedData/`
3. Delete the `Carthage` folder in the project
4. Download cached builds via Rome

**Current behavior**

[2020-09-23 08:46] tmspzz commented on #232
I don't believe this is a problem with Rome. This might be due to the fact that you haven't built for distribution. You would have the same problem simply downloading a binary built somewhere else than your machine.

[2020-09-23 08:46] #232 closed

[2020-10-01 21:10] feng-caffeine opened #233 "Static folder isn't uploaded to remote server on Xcode 12"
## Bug Report

Since Xcode 12, Carthage created a new folder called `Static` under `Carthage/Build/` for some libraries. Actually, I don't know what `Static` is for. An example of framework in `Static` folder structure looks like,

[code]

Since this folder isn't copied into S3, the cache is invalidated and the error show `Invalid cache found for facebook-ios-sdk, rebuilding all downstream depende

[2020-10-05 14:20] tmspzz commented on #233
@feng-caffeine you have to mark the frameworks as static. Please see the readme before opening issues. https://github.com/tmspzz/Rome#static-frameworks

[2020-10-05 14:20] #233 closed

[2020-10-05 16:23] feng-caffeine commented on #233
Thanks for your suggestions! I tried to mark them as `type: static` for each individual and it has the same issue. `Static` folder is still generated and it still says invalidate cache without it.

For more context, I don't have the issue before Xcode 12.